@model Petopia.Models.Provider

@{
    ViewBag.Title = "Set up your Pet Care Provider profile & account!";
}

<body class="container-fluid chooseRole_hero">
    <h2>@ViewBag.Title</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <!-- i don't think we want them changing username..... isn't that what we decided? -->
            @*<div class="form-group">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <!-------------------------------------------------------------------------->
            <div class="row profile_info_form_part">

                <!-- Owner PROFILE Information -->
                <!-- explanation panel - explain info requested -->

                <div class="col-md-9 panel-group">
                    <div class="panel our_panel_01">

                        <a data-toggle="collapse" href="#collapse_01">
                            <div class="panel-heading our_panel_heading">
                                <div class="panel-title our_panel_title">
                                    <span class="glyphicon glyphicon-resize-vertical"
                                            style="padding-right: 18px;">
                                    </span>
                                    Your profile information...
                                </div><!-- end 'our_panel_title' div -->
                            </div><!-- end 'our_panel_heading' div -->
                        </a>

                        <div id="collapse_01" class="panel-collapse collapse">
                            <div class="panel-body">blah blah blah blah blah!</div>
                        </div>

                    </div><!-- end 'panel'\'our_panel_01' divs -->
                </div><!-- end 'panel-group' div -->



                <!---------------------------------------------------------------------->
                <!-- actual form labels + fields for OWNER PROFILE INFO -->
                <div class="form-group">
                    <div class="col-sm-5">
                        @Html.LabelFor(model => model.FirstName)

                        @Html.EditorFor(model => model.FirstName,
                                new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "",
                                                          new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-5">
                        @Html.LabelFor(model => model.LastName)

                        @Html.EditorFor(model => model.LastName,
                                new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "",
                                                          new { @class = "text-danger" })
                    </div>
                </div>
                <!-- end form labels\fields for OWNER PROFILE INFO -->
            </div><!-- end row + 'profile_info_form_part' -->



            <!-------------------------------------------------------------------------->
            <div class="row account_info_form_part">

                <!-- Owner ACCOUNT Information -->
                <!-- explanation panel - explain info requested/reason -->

                <div class="col-md-9 panel-group">
                    <div class="panel our_panel_01">

                        <a data-toggle="collapse" href="#collapse_02">
                            <div class="panel-heading our_panel_heading">
                                <div class="panel-title our_panel_title">

                                    <span class="glyphicon glyphicon-resize-vertical"
                                            style="padding-right: 18px;">
                                    </span>
                                    Your account information... <i>(private)</i>

                                </div><!-- end 'our_panel_title' div -->
                            </div><!-- end 'our_panel_heading' div -->
                        </a>

                        <div id="collapse_02" class="panel-collapse collapse">
                            <div class="panel-body">
                                thing one, thing two, ... thing n!
                            </div>
                        </div>

                    </div><!-- end 'panel'\'our_panel_01' divs -->
                </div><!-- end 'panel-group' div -->
            </div><!-- end row + 'owner_account_info_form_part' -->



            <!-------------------------------------------------------------------------->
            <!-- submit button -->
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2">
                        <input type="submit" value="Create" 
                               class="btn btn-default our_buttons" />
                    </div>
                </div>
            </div>
            <!-------------------------------------------------------------------------->
        </div><!-- end 'form-horizontal' div -->
    }
    <!-- end 'using (Html.BeginForm())' -->


    <div class="row" style="margin-bottom: 36px;">
        <div class="col-sm-9"></div>
        <div class="col-sm-2 back_to_choose">
            @Html.ActionLink("Back to Choose Role", "ChooseRole", "Account")
        </div>
        <div class="col-sm-1"></div>
    </div>


    <!---------------------------------------------------------------------------------->
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <!---------------------------------------------------------------------------------->
</body>