@model IEnumerable<Petopia.Models.PetOwner>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AverageRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NeedsDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessInstructions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AverageRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NeedsDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessInstructions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PetOwnerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PetOwnerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PetOwnerID })
        </td>
    </tr>
}

</table>
