@model swimApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register with Elite Acquatics";
}

<h2>@ViewBag.Title!</h2>

<div class="row">


    @using (Html.BeginForm("Register", "Account", FormMethod.Post,
                              new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />

        <div class="col-md-6">
            <!-------------------------------------------------------------------------->
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>


            <!-------------------------------------------------------------------------->
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <!-------------------------------------------------------------------------->

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Register" />
                </div>
            </div>
            <!-------------------------------------------------------------------------->
        </div><!-- END OF 6-wide COLUMN w/FORM FIELDS -->
    }

    <!---------------------------------------------------------------------------------->
    <div class="col-md-6">
        <div class="box_holder">
            <div class="info_box">
                <!-- password rules! -->
                <p>
                    <!-- so we don't piss off users -->

                    <strong>passwords must:</strong>
                    <br />* be at least 6 characters long
                    <br />* have at least one upper-case letter (A-Z)
                    <br />* have at least one digit (0-9)
                    <br />* have at least one non-letter/digit character

                </p>
            </div>
        </div>
    </div> <!-- END OF 6-wide COLUM w/INFO BOX -->

</div><!-- END OF ROW -->

    <!---------------------------------------------------------------------------------->
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
