@model Petopia.Models.CareProvider

@{
    ViewBag.Title = "I want to be a Pet Care Provider";
}
<!--============================= WHOLE DAMNED FORM HERE =============================-->
<div class="container-fluid">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h2>@ViewBag.Title!</h2>
        <hr />
        <!--========================= TOP ROW FOR ACCORDIANS =========================-->
        <div class="row" style="margin-bottom: 18px;">
            <div class="col-sm-8 col-md-8" style="border: 1px solid orange">
                an accordian thingie will go here
            </div>

            <div class="col-sm-8 col-md-8" style="border: 1px solid blue">
                <!-- nothing here \ placeholder -->
            </div>
        </div>
        <!--=========================== SECOND \ MIDDLE ROW ==========================-->
        <!--============================ FIRST\LEFT COLUMN ===========================-->
        <div class="row">
            <div class="col-sm-4 col-md-4">

                <!------------------------- PET CARER EXPERIENCE  ---------------------->
                <div class="form-group">
                    @Html.LabelFor(model => model.ExperienceDetails, 
                                        htmlAttributes: new { @class = "control-label" })

                    @Html.TextAreaFor(model => model.ExperienceDetails, 
                         new { htmlAttributes = 
                         new { @class = "form-control our_text_area" }, cols=72, rows=3,
                         style="color: #2e2e1f; border-radius: 5px; padding: 5px;" })
                    <!-- CSS FILE IS NOT TOUCHING 'our_text_area' CLASS -->

                    @Html.ValidationMessageFor(model => model.ExperienceDetails, "", new { @class = "text-danger" })
                </div>
                <!-------------------------------------------------------------------------->
            </div><!-- END 1st\LEFT FOUR-COLUMN DIV ; INSIDE 2nd\MIDDLE ROW -->
            <!---->
            <!---->
            <!--=========================== SECOND\MIDDLE COLUMN =====================-->
            <div class="col-sm-4 col-md-4">

                <!-- EMPTY FOR NOW \ BUT RESERVED! -->

            </div><!-- END 2nd\MIDDLE FOUR-COLUMN DIV ; INSIDE 2nd\MIDDLE ROW -->
            <!---->
            <!---->
            <!--============================ THIRD\RIGHT COLUMN ======================-->
            <div class="col-sm-4 col-md-4">

                <!--============================= BUTTON =============================-->
                <div class="form-group" style="margin-top: 90px;">
                    <div>
                        <input type="submit" value="Sign me up as a Pet Carer!" 
                               class="btn our_buttons" />
                    </div>

                </div>
                <!---------------------------------------------------------------------->
            </div><!-- END 3rd\RIGHT FOUR-COLUMN DIV ; INSIDE 2nd\MIDDLE ROW -->
            <!---->
            <!---->
        </div><!-- END 1st ROW! -->



            <!-- the user shouldn't be messing with this!!   =]   -->
            @*<div class="form-group">
                @Html.LabelFor(model => model.AverageRating, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AverageRating, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AverageRating, "", new { @class = "text-danger" })
                </div>
            </div>*@


        </div><!-- END FORM DIV! -->
    }
</div><!-- END CONTAINER-FLUID DIV -->
<!--==================================================================================-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
