@model Petopia.Models.ViewModels.PetPicViewModel

@{
    ViewBag.Title = "Add a Pet!";
}
<!--============================= WHOLE DAMNED FORM HERE =============================-->
<div class="container-fluid">

    @using (Html.BeginForm("AddPet", "Pets", FormMethod.Post,
    new { @class = "form", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <h2>@ViewBag.Title</h2>
            <hr />

            <!--============================ FIRST\LEFT COLUMN =======================-->
            <div class="row">
                <div class="col-sm-4 col-md-4">

                    <h4 style="color: #261a0d">Your Pet's Profile Info:</h4>

                    <!------- PROFILE STUFF -------------------------------------------->
                    <!----------------------------- PET NAME --------------------------->
                    <div class="form-group" style="padding-top: 5px;">
                        @Html.LabelFor(model => model.PetName, htmlAttributes:
                                                        new { @class = "control-label" })

                        @Html.EditorFor(model => model.PetName,
                                new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.PetName, "",
                                                        new { @class = "text-danger" })
                    </div>
                    <!----------------------------- PET SPECIES ------------------------>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Species, htmlAttributes:
                                                        new { @class = "control-label" })

                        @Html.EditorFor(model => model.Species,
                                new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.Species, "",
                                                        new { @class = "text-danger" })
                    </div>
                    <!----------------------------- PET BREED -------------------------->

                    <div class="form-group">
                        @Html.LabelFor(model => model.Breed, htmlAttributes:
                                                        new { @class = "control-label" })

                        @Html.EditorFor(model => model.Breed, new
                        { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.Breed, "",
                                                        new { @class = "text-danger" })
                    </div>

                    <!------------------------------ PET GENDER ------------------------>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Gender, htmlAttributes:
                                                        new { @class = "control-label" })

                        @Html.DropDownList("gender",
                        (IEnumerable<SelectListItem>)ViewBag.GenderList, "gender?", 
                                new { @class = "form-control", required = "required" })

                        @Html.ValidationMessageFor(model => model.Gender, "",
                                                        new { @class = "text-danger" })
                    </div>
                    <!------------------------------- PET BIRTHDAY --------------------->
                    <div class="form-group">
                        @Html.LabelFor(model => model.Birthdate,
                                        htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.Birthdate,
                                new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.Birthdate, "",
                                                        new { @class = "text-danger" })
                    </div>
                    <!----------------------- MY PET'S BIO SPOT ------------------------>
                    <div class="form-group" style="padding-top: 5px;">
                        @Html.LabelFor(model => model.PetBio,
                                        htmlAttributes: new { @class = "control-label" })

                        <br /><!-- WTF DO I GOTTA HAVE THIS HERE??? BUT YET I DO..... -->

                        @Html.TextAreaFor(model => model.PetBio,
                            new { htmlAttributes =
                            new { @class = "form-control our_text_area" },
                            cols = 90, rows = 5, id = "text12", name = "text12",
                            style = "color: #2e2e1f; border-radius:5px; padding: 5px;" })

                        <div>
                            <span class="pull-left label label-default"
                                  id="count_message_12">
                            </span>
                        </div>

                        @Html.ValidationMessageFor(model => model.PetBio, "",
                                                        new { @class = "text-danger" })
                    </div>
                    <!------------------------- PET PROFILE PIC ------------------------>
                    <div class="form-group" style="padding-top:13px;">
                        @Html.LabelFor(m => m.PetPhoto, new { @class = "control-label" })

                        @Html.TextBoxFor(m => m.PetPhoto, new { type = "file" })

                        @Html.ValidationSummary(true,
                                        "Picture MUST be in JPG format and under 4 MB.",
                                        new { @class = "text-danger" })
                    </div>
                    <!---------------------- PET PROFILE PIC CAPTION-------------------->
                    <div class="form-group" style="padding-top: 5px;">
                        @Html.LabelFor(model => model.PetCaption, htmlAttributes:
                                                        new { @class = "control-label" })

                        @Html.EditorFor(model => model.PetCaption, new
                        { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.PetCaption, "",
                                                        new { @class = "text-danger" })
                    </div>
                    <!------------------------------------------------------------------>
                </div><!-- END 1st\LEFT FOUR-COLUMN DIV -->
                <!---->
                <!---->
                <!--=========================== SECOND\MIDDLE COLUMN =================-->
                <div class="col-sm-4 col-md-4">

                    <h4 style="color: #261a0d;">Your Pet's Care Info:</h4>

                    <!--------- PET CARE INFO ------------------------------------------>
                    <!-------------------------------- PET WEIGHT ---------------------->
                    <div class="form-group">
                        @Html.LabelFor(model => model.Weight,
                                        htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.Weight,
                                new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.Weight, "",
                                                        new { @class = "text-danger" })
                    </div>
                    <!-------------------- PET'S EMERGENCY CONTACT NAME ---------------->
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmergencyContactName,
                                        htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.EmergencyContactName,
                                new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.EmergencyContactName, 
                                                     "", new { @class = "text-danger" })
                    </div>
                    <!------------------- PET'S EMERGENCY CONTACT PHONE ---------------->
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmergencyContactPhone,
                                        htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.EmergencyContactPhone,
                                new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.EmergencyContactPhone, 
                                                    "", new { @class = "text-danger" })
                    </div>

                    <!---------------------- HOW TO ACCESS MY PET ---------------------->
                    <div class="form-group" style="padding-top: 13px;">
                        @Html.LabelFor(model => model.PetAccess,
                                        htmlAttributes: new { @class = "control-label" })

                        @Html.TextAreaFor(model => model.PetAccess,
                            new { htmlAttributes =
                            new { @class = "form-control our_text_area" },
                            cols = 90, rows = 3, id = "text07", name = "text07",
                            style = "color: #2e2e1f; border-radius:5px; padding: 5px;" })

                        <div>
                            <span class="pull-left label label-default"
                                  id="count_message_07">
                            </span>
                        </div>

                        @Html.ValidationMessageFor(model => model.PetAccess, "",
                                                        new { @class = "text-danger" })
                    </div>
                    <!------------------------------------------------------------------>
                </div><!-- END 2nd\MIDDLE FOUR-COLUMN DIV -->
                <!---->
                <!---->
                <!--============================ THIRD\RIGHT COLUMN ==================-->
                <div class="col-sm-4 col-md-4">

                    <!------------------------ WHAT MY PET NEEDS DONE ------------------>
                    <div class="form-group" style="padding-top: 13px;">
                        @Html.LabelFor(model => model.NeedsDetails,
                                        htmlAttributes: new { @class = "control-label" })

                        @Html.TextAreaFor(model => model.NeedsDetails,
                            new { htmlAttributes =
                            new { @class = "form-control our_text_area" },
                            cols = 90, rows = 5, id = "text06", name = "text06",
                            style = "color: #2e2e1f; border-radius:5px; padding: 5px;" })

                        <div>
                            <span class="pull-left label label-default"
                                  id="count_message_06">
                            </span>
                        </div>

                        @Html.ValidationMessageFor(model => model.NeedsDetails, "",
                                                        new { @class = "text-danger" })
                    </div>
                    <!--------------------- PET'S HEALTH NEEDS/CONCERNS ---------------->
                    <div class="form-group" style="padding-top: 13px;">
                        @Html.LabelFor(model => model.HealthConcerns,
                                        htmlAttributes: new { @class = "control-label" })

                        @Html.TextAreaFor(model => model.HealthConcerns,
                            new { htmlAttributes =
                            new { @class = "form-control our_text_area" },
                            cols = 90, rows = 5, id = "text04", name = "text04",
                            style = "color: #2e2e1f; border-radius:5px; padding: 5px;" })

                        <div>
                            <span class="pull-left label label-default" 
                                  id="count_message_04">
                            </span>
                        </div>

                        @Html.ValidationMessageFor(model => model.HealthConcerns, "",
                                                        new { @class = "text-danger" })
                    </div>
                    <!-------------------- PET'S BEHAVIOR NEEDS/CONCERNS --------------->
                    <div class="form-group" style="padding-top: 13px;">
                        @Html.LabelFor(model => model.BehaviorConcerns,
                                        htmlAttributes: new { @class = "control-label" })

                        @Html.TextAreaFor(model => model.BehaviorConcerns,
                            new { htmlAttributes =
                            new { @class = "form-control our_text_area" },
                            cols = 90, rows = 5, id = "text05", name = "text05",
                            style = "color: #2e2e1f; border-radius:5px; padding: 5px;" })

                        <div>
                            <span class="pull-left label label-default"
                                  id="count_message_05">
                            </span>
                        </div>

                        @Html.ValidationMessageFor(model => model.BehaviorConcerns, 
                                                    "", new { @class = "text-danger" })
                    </div>
                    <!------------------------------------------------------------------>

                </div><!-- END 3rd\RIGHT FOUR-COLUMN DIV -->
            </div><!-- END 1st ROW!-->
            <!---->
            <!---->
            <!--=========== SECOND ROW! ==============================================-->
            <!--================================ BUTTONS! ============================-->
            <div class="row" style="padding-bottom: 18px;">
                <div class="col-sm-offset-8 col-sm-2 col-md-2">
                    <div class="form-group">
                        <div>
                            <input type="submit" value="Add My Pet!"
                                   class="btn our_buttons" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-2 col-md-2">
                    <div class="our_create-edit_buttons">
                        @Html.ActionLink("Cancel!", "Index",
                                                    new { controller = "ProfilePage" })
                    </div>
                </div>
            </div><!-- END 2nd ROW! -->
            <!-------------------------------------------------------------------------->
        </div><!-- END FORM DIV! -->
    }
    <!--==============================================================================-->
</div><!-- END CONTAINER-FLUID DIV! -->
<!--==================================================================================-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/_our_main.js")
}