@model Petopia.Models.ViewModels.PetGalleryViewModel
@{
    var loggedInUser = ViewBag.loggedInUser;
    var thisPetsOwner = ViewBag.thisPetsOwnersASPNetIdentityID;
    var thisPetID = ViewBag.ThisPetID;
    var thisPetName = ViewBag.ThisPetsName;
    ViewBag.Title = "Pet Photo Gallery!";
    ViewBag.PetName = "'s Photo Gallery!";
}


<div class="container-fluid"">
    <!--==============================================================================-->
    <div class="row" style="margin-bottom: 18px;">
        
        <h2 style="text-align:center; color: #261a0d;
                    margin-top:9px; margin-bottom:0px;">
            @ViewBag.ThisPetsName@ViewBag.PetName 
        </h2>

        @if (loggedInUser == thisPetsOwner)
        { 
            if (ViewBag.ImageCount >= 5)
            {
                <p>
                    You can only have a max of 5 pictures in your gallery,
                    please delete one to add another
                </p>
            }
            else
            {
                <span style="float:right; margin: 5px;">
                    @Html.ActionLink("Add a new picture!", "PetGalleryCreate",
                            new { id = Model.CurrentPetID },
                            new { @class = "btn our_buttons",
                                 style = "color: #f2e6d9; font-weight: normal;" })
                </span>
            }
        }

        <span style="float:right; margin: 5px;">
            @Html.ActionLink("Back to Pet's Profile", "PetProfile",
                    new { id = thisPetID },
                    new { @class = "btn our_buttons",
                            style = "color: #f2e6d9; font-weight: normal" })
        </span>

    </div><!-- end row for button! -->
    <!--==============================================================================-->
    <div class="row">
        <!--------------------------------->
        <div class="col-sm-1 col-md-1">
            <!-- spacer column -->
        </div>
        <!--------------------------------->
        <div class="col-sm-10 col-md-10">

            @foreach (var item in Model.PetGalleryList)
            { 
                <div class="pet_gallery_box">

                    <div class="pet_gallery_photo_part">

                        <div class="pet_gallery_photo_box_box">
                            <div class="pet_gallery_photo_box">

                                <img src=@Url.Action("ShowPetGallery", "Image", 
                                                     new { id = item.PetPicID })
                                     class="pet_gallery_image" />

                            </div><!-- end 'pet_gallery_photo_box' -->
                        </div>
                    </div><!-- end 'pet_gallery_photo_part' -->

                    <div class="pet_gallery_photo_comment_part">
                        @Html.DisplayFor(model => item.Comment)

                        
                    </div><!-- end 'photo_comment-part' -->

                    <div class="pet_gallery_button_part" style="float:right;">
                        @if (loggedInUser == thisPetsOwner)
                        {
                            <div class="btn pet_gallery_button" >

                                <a onclick="location.href='@Url.Action("PetGalleryDelete",
                                        "Pets", new { id = item.PetPicID })'" href="#">
                                    remove
                                </a>
                            </div>
                        }
                    </div><!-- end 'button_part' -->
                </div><!-- end 'pet_gallery_box' -->
            }
        </div><!-- end middle column -->
        <!--------------------------------->
        <div class="col-sm-1 col-md-1">
            <!-- spacer column -->
        </div>
        <!--------------------------------->
    </div><!-- END 2nd ROW -->
</div><!-- END CONTAINER-FLUID -->




