@model Petopia.Models.ViewModels.PetProfileViewModel

@{
    ViewBag.Title = "Pet Profile!";
    var loggedInUser = ViewBag.loggedInUser;
    var thisPetsOwner = ViewBag.thisPetsOwnersASPNetIdentityID;
    var thisPetsOwnersPetopiaID = ViewBag.PetOwnerPetopiaID;
}

<div class="outer_container">

    <div class="container-fluid">
        <!------------------------------------ FIRST/TOP ROW --------------------------->
        <div class="row our_row_one">
            <!-- FIRST\TOP ROW -->
            <!-- empty/placeholder for now-->
            <!-- here in case we decide we want it later! -->

        </div><!-- END FIRST\TOP ROW -->
        <!--==========================================================================-->
        <!-------------------------------- SECOND/MIDDLE ROW --------------------------->
        <div class="row our_row_two">
            <!---->
            <!---->
            <!-- 1st column --><!-- role\profilePic\caption -->
            <!-- b/c col settings, it's 2&1/2 wide --><!-- EXCEPT IT'S NOT!! dammit -->
            <div class="col col-sm-3 col-md-3 col-lg-3 col-x-3l our_col_one">


                <!-- 'designation'   =] -->
                <div class="owner_provider_box">
                    A @Html.DisplayFor(model => model.Pet.Species) Pet!
                </div>


                <!-- profile picture -->
                @if (Model.Pet.PetPhoto != null)
                {
                    <div class="profile_pic_box_box">
                        <div class="profile_pic_box">
                            <img src=@Url.Action("ShowPet", "Image", new { id = Model.Pet.PetID })
                                 class="profile_img" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="profile_pic_box_box">
                        <div class="profile_pic_box">
                            <img src="https://stormy9.github.io/nerdvana/pointyEaredSilhouette.png"
                                 class="profile_img" />
                        </div>
                    </div>
                }


                <!-- profile pic caption -->
                <div class="profile_pic_caption_box">
                    <div class="profile_pic_caption">
                        @Html.DisplayFor(model => model.Pet.PetCaption)
                    </div>
                </div>


                <!-- pet profile buttons -->
                <div class="button_box_04">
                    <!-- css is not reaching these... not all of it anyway -- some parts
                         of it is, but not others -- super f'ing annoying... it works if
                         it's hard-coded here, but that should *NOT* have to be!

                         ALSO: it works for the user profiles, but not here... wtf??
                         WELL... it *was*, then it stopped... seriously, WTF?!
                         this is a serious annoyance to not be able to set styles
                         FROM THE FUCKING STYLE SHEETS!!  not all of them anyway!!! -->
                    <div>
                        @Html.ActionLink("My Pet Pic Gallery", "PetGallery", 
                                    new { id = Model.Pet.PetID },
                                    new { @class = "our_profile_buttons",
                                        style = "color: #f2e6d9; font-weight: normal;" })
                    </div>

                    <!-- IF-STATEMENT TO CHECK IF USER IS PET'S OWNER     -->
                    <!-- THEN ONLY SHOW **THESE** BUTTONS IF THAT IS TRUE -->
                    @if (loggedInUser == thisPetsOwner)
                    {
                        <div>
                            @Html.ActionLink("Book care for Me!", "BookAppointment",
                                    new { controller = "CareTransactions", id = Model.Pet.PetID },
                                    new { @class = "our_profile_buttons",
                                          style = "color:#f2e6d9; font-weight:normal;" })
                        </div>
                        <div>
                            @Html.ActionLink("My Care Appointments", "MyPetsAppointments",
                                   new { controller = "CareTransactions", pet_id = Model.Pet.PetID },
                                   new { @class = "our_profile_buttons",
                                         style = "color: #f2e6d9; font-weight: normal;" })
                        </div>
                        <div>
                            @Html.ActionLink("My Private Details", "MyPetDetails",
                                   new { controller = "Pets", id = Model.Pet.PetID },
                                   new { @class = "our_profile_buttons",
                                         style = "color: #f2e6d9; font-weight: normal;" })
                        </div>
                        <div>
                            @Html.ActionLink("Edit my Info", "EditPet",
                                   new { controller = "Pets", id = Model.Pet.PetID },
                                   new { @class = "our_profile_buttons",
                                         style = "color: #f2e6d9; font-weight: normal;" })
                        </div>
                    }
                </div><!-- END BUTTON BOX -->

            </div><!-- END 1st/LEFT COLUMN **OF** 2nd/MIDDLE ROW -->
            <!-------------------------------------------------------------------------->
            <!---->
            <!---->
            <!-- 2nd column --><!-- PetName\generalLocation\owner\AboutPet -->
            <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7 our_col_two">

                <!-- Pet name -->
                <div class="user_name_box">
                    <h3>
                        My Name Is:  @Html.DisplayFor(model => model.Pet.PetName)
                    </h3>
                    <h5>
                        I am a @Html.DisplayFor(model => model.Pet.Breed)
                    </h5>
                    <h5>
                        I was born on @ViewBag.PetsBday
                    </h5>
                    <h5>
                        I am a @Html.DisplayFor(model => model.Pet.Gender)
                    </h5>
                </div>

                <!-- Pet's Person-->
                <div class="user_name_box">
                    <h3>My Person is: </h3>
                    <h4>
                        <i>
                            @ViewBag.PetsOwnersFirstName&nbsp;@ViewBag.PetOwnersLastName
                        </i>
                    </h4>
                </div>

                <!-- Pet's (owner's) general location -->
                <div class="general_location_box">
                    <div class="general_location">
                        our general location: @ViewBag.PetsGeneralLocation
                    </div>
                </div>

                @if (ViewBag.loggedInUser == ViewBag.thisPetsOwnersASPNetIdentityID)
                {
                    <div style="margin-left: 23px; margin-bottom: 23px;">
                        @Html.ActionLink("My Owner's Profile", "Index",
                               new { controller = "ProfilePage" },
                               new { @class = "btn our_profile_buttons",
                                     style = "color: #f2e6d9; font-weight: normal;" })
                    </div>
                }
                else
                {
                    <div style="margin-left: 23px; margin-bottom: 23px;">
                        @Html.ActionLink("My Owner's Profile", "VisitProfile",
                               new { controller = "ProfilePage", loggedID = thisPetsOwnersPetopiaID },
                               new { @class = "btn our_profile_buttons",
                                     style = "color: #f2e6d9; font-weight: normal;" })
                    </div>
                }

                <br />

                <!-- pet bio & etc. fun stuff -->
                <div class="user_bio_box" style="margin-top: 23px;">

                    <h4>Things About Me:</h4>
                    @Html.DisplayFor(model => model.Pet.PetBio)

                </div>


            </div><!-- END 2nd\MIDDLE COLUMN  **OF** 2nd/MIDDLE ROW -->
            <!-------------------------------------------------------------------------->
            <!---->
            <!---->
            <!-- 3rd column --><!-- providers/petOwners Near Me (and that's it!) -->
            <!-- OR -- for Pet Carers, display Pet Owners they've worked with before -->
            <!---->
            <!-- b/c of col settings, it's 2&1/2 wide -- except it isn't!!!  -->
            <div class="col col-sm col-md col-lg col-x  our_col_three">

                <!-- auto search result header -->
                <div class="auto_search_result_header">
                    <h5 style="margin-left: 5px;"> My Pet Care Providers:</h5>
                </div>

                <!-- list this Pet's previous care providers here -->
                <div class="auto_search_results_box_box">

                    <div class="auto_search_results_box">
                        <!-------------------------------------------------------------->
                        <!-------------------------------------------------------------->
                        @foreach (var item in Model.PetopiaUsersList)
                        {
                            <div class="search_result_card">

                                @if (item.ProfilePic != null)
                                {
                                    <div class="search_result_profile_pic_box_box">
                                        <div class="search_result_profile_pic_box">
                                            <a href='@Url.Action("VisitProfile", "ProfilePage",
                                                    new { loggedID = item.UserID })'>
                                                <img src=@Url.Action("Show", "Image",
                                                    new { id = item.UserID })
                                                     class="search_result_profile_img" />
                                            </a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="search_result_profile_pic_box_box">
                                        <div class="search_result_profile_pic_box">
                                            <a href='@Url.Action("VisitProfile", "ProfilePage",
                                                    new { loggedID = item.UserID })'>
                                                <img src="https://stormy9.github.io/nerdvana/cute_smiley.png"
                                                     class="search_result_profile_img" />
                                            </a>
                                        </div>
                                    </div>
                                }
                                <div class="search_result_card_info" style="clear:both;">
                                    <span>
                                        @Html.ActionLink(item.FirstName, "VisitProfile",
                                        new { controller = "ProfilePage", loggedID = item.UserID },
                                        new { @class = "", style = "float:left; color:#002266;" })
                                        @Html.ActionLink(item.LastName, "VisitProfile",
                                        new { controller = "ProfilePage", loggedID = item.UserID },
                                        new { @class = "", style = "float:left; color:#002266;" })
                                    </span>
                                    @if (item.GeneralLocation != null)
                                    {
                                        <div style="clear:both;">
                                            <!-- break the floats above -->
                                            @Html.DisplayFor(modelItem => item.GeneralLocation)
                                        </div>
                                    }
                                    <div  class="scrolly-window_badge-box">
                                        @if (item.DogProvider is true)
                                        {
                                            <img src="https://raw.githubusercontent.com/CorrinM/wou-cs_team-nerdvana/FinishBadges/Petopia/Petopia_images/dog_provider.png" class="pet_badge">
                                        }
                                        @if (item.CatProvider is true)
                                        {
                                            <img src="https://raw.githubusercontent.com/CorrinM/wou-cs_team-nerdvana/FinishBadges/Petopia/Petopia_images/cat_provider.png" class="pet_badge">
                                        }
                                        @if (item.BirdProvider is true)
                                        {
                                            <img src="https://raw.githubusercontent.com/CorrinM/wou-cs_team-nerdvana/FinishBadges/Petopia/Petopia_images/bird_provider.png" class="pet_badge">
                                        }
                                        @if (item.FishProvider is true)
                                        {
                                            <img src="https://raw.githubusercontent.com/CorrinM/wou-cs_team-nerdvana/FinishBadges/Petopia/Petopia_images/fish_provider.png" class="pet_badge">
                                        }
                                        @if (item.RabbitProvider is true)
                                        {
                                            <img src="https://raw.githubusercontent.com/CorrinM/wou-cs_team-nerdvana/FinishBadges/Petopia/Petopia_images/rabbit_provider.png" class="pet_badge">
                                        }
                                        @if (item.RodentProvider is true)
                                        {
                                            <img src="https://raw.githubusercontent.com/CorrinM/wou-cs_team-nerdvana/FinishBadges/Petopia/Petopia_images/small_rodents_provider.png" class="pet_badge">
                                        }
                                        @if (item.ReptileProvider is true)
                                        {
                                            <img src="https://raw.githubusercontent.com/CorrinM/wou-cs_team-nerdvana/FinishBadges/Petopia/Petopia_images/reptile_provider.png" class="pet_badge">
                                        }
                                        @if (item.HorseProvider is true)
                                        {
                                            <img src="https://raw.githubusercontent.com/CorrinM/wou-cs_team-nerdvana/FinishBadges/Petopia/Petopia_images/horse_provider.png" class="pet_badge">
                                        }
                                        @if (item.LivestockProvider is true)
                                        {
                                            <img src="https://raw.githubusercontent.com/CorrinM/wou-cs_team-nerdvana/FinishBadges/Petopia/Petopia_images/livestock_provider.png" class="pet_badge">
                                        }
                                        @if (item.OtherProvider is true)
                                        {
                                            <img src="https://raw.githubusercontent.com/CorrinM/wou-cs_team-nerdvana/FinishBadges/Petopia/Petopia_images/other_provider.png" class="pet_badge">
                                        }
                                        @if (item.DogOwner is true)
                                        {
                                            <img src="https://raw.githubusercontent.com/CorrinM/wou-cs_team-nerdvana/FinishBadges/Petopia/Petopia_images/dog_owner.png" class="pet_badge">
                                        }
                                        @if (item.CatOwner is true)
                                        {
                                            <img src="https://raw.githubusercontent.com/CorrinM/wou-cs_team-nerdvana/FinishBadges/Petopia/Petopia_images/cat_owner.png" class="pet_badge">
                                        }
                                        @if (item.BirdOwner is true)
                                        {
                                            <img src="https://raw.githubusercontent.com/CorrinM/wou-cs_team-nerdvana/FinishBadges/Petopia/Petopia_images/bird_owner.png" class="pet_badge">
                                        }
                                        @if (item.FishOwner is true)
                                        {
                                            <img src="https://raw.githubusercontent.com/CorrinM/wou-cs_team-nerdvana/FinishBadges/Petopia/Petopia_images/fish_owner.png" class="pet_badge">
                                        }
                                        @if (item.RabbitOwner is true)
                                        {
                                            <img src="https://raw.githubusercontent.com/CorrinM/wou-cs_team-nerdvana/FinishBadges/Petopia/Petopia_images/rabbit_owner.png" class="pet_badge">
                                        }
                                        @if (item.RodentOwner is true)
                                        {
                                            <img src="https://raw.githubusercontent.com/CorrinM/wou-cs_team-nerdvana/FinishBadges/Petopia/Petopia_images/small_rodents_owner.png" class="pet_badge">
                                        }
                                        @if (item.ReptileOwner is true)
                                        {
                                            <img src="https://raw.githubusercontent.com/CorrinM/wou-cs_team-nerdvana/FinishBadges/Petopia/Petopia_images/reptile_owner.png" class="pet_badge">
                                        }
                                        @if (item.HorseOwner is true)
                                        {
                                            <img src="https://raw.githubusercontent.com/CorrinM/wou-cs_team-nerdvana/FinishBadges/Petopia/Petopia_images/horse_owner.png" class="pet_badge">
                                        }
                                        @if (item.LivestockOwner is true)
                                        {
                                            <img src="https://raw.githubusercontent.com/CorrinM/wou-cs_team-nerdvana/FinishBadges/Petopia/Petopia_images/livestock_owner.png" class="pet_badge">
                                        }
                                        @if (item.OtherOwner is true)
                                        {
                                            <img src="https://raw.githubusercontent.com/CorrinM/wou-cs_team-nerdvana/FinishBadges/Petopia/Petopia_images/other_owner.png" class="pet_badge">
                                        }
                                    </div><!-- end 'scrolly-window_badge-box' -->
                                </div><!-- end 'search_result_card_info' -->
                                <!------------------------------------------>
                                <!-- 'margin-top' doesn't do anything, but padding does! -->
                                <!-- but yet 'margin-left' works..... -->
                                <div style="clear:both; padding-top: 5px; padding-bottom: 5px; margin-left:13px;">
                                    @Html.DisplayFor(modelItem => item.ProviderAverageRating)
                                </div>
                            </div>
                        }
                        <!---------------------------------------------------------->
                    </div><!-- END 'auto_search_results_box' -->
                </div><!-- END 'auto_search_results_box_box' -->
            </div><!-- END 3rd\Right-side Column -->
            <!---------------------------------------------------------------------->

        </div><!-- END 2nd/MIDDLE ROW -->
        <!---->
        <!---->
        <!--==========================================================================-->
        <!------------------------------ THIRD/BOTTOM ROW ------------------------------>
        <!---->
        <!---->
        <div class="row our_row_three">

            <div class="col-sm-offset-6 col-md-offset-6 col-sm-6 col-md-6">

                <!-- decided to move buttons! -->
                <!-- here to test for finding this pet's owner's ID's! -->
                <!-- so we can ONLY show the details/appts/editPet buttons -->
                <!-- to the given pet's owner and no one else! -->
                <div style="border: 2px solid blue; border-radius: 11px; padding: 5px; display:none;">
                    <h5> This Pet's Owners Info -- for testing: </h5>
                    @ViewBag.thisPetsOwnersID <br />
                    @ViewBag.thisPetsOwnersPetopiaUserID <br />
                    thisPetsOwnersASPNetIdentityID: @ViewBag.thisPetsOwnersASPNetIdentityID<br />
                    the currently logged-in user: @ViewBag.loggedInUser <br />
                    <p> var loggedInUser: @loggedInUser </p>
                    <p> var thisPetsOwner: @thisPetsOwner  </p>
                    <br />
                    @if (loggedInUser == thisPetsOwner)
                    {
                        <p> the logged-in user is this pet's owner! </p>
                    }
                    else
                    {
                        <p> the logged-in user is not this pet's owner! </p>
                    }
                </div>

            </div><!-- end only column in 4th row -->

        </div><!-- END FOURTH (BUTTON) ROW -->
    </div><!-- END CONTAINER-FLUID -->
</div><!-- END OUTER CONTAINER \ MAIN CONTAINER INSIDE BODY -->
<!--==================================================================================-->