<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <title>@ViewBag.Title - for the love of pets</title>


        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

    </head>

<!-------------------------------------------------------------------------------------->

    <body>

        <!------------------------------------------------------------------------------>
        <div class="navbar navbar-inverse navbar-fixed-top our_navbar">

            <div class="container-fluid"><!-- this puts navbar content on left edge! -->

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" 
                            data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    @Html.ActionLink("Petopia!", "Index", "Home", new { area = "" }, 
                                                        new { @class = "navbar-brand" })

                </div>


                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("What We Do", "About", "Home", 
                                                new { @class = "our_nav_links" })</li>
                        <li>@Html.ActionLink("Have Questions or Concerns?", "Contact", "Home", 
                                                    new { @class = "our_nav_links" })</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>


            </div><!-- end container -->
        </div><!-- end navbar -->

        <!--==========================================================================-->

        <div>
            <!-- took out class="container body-content" so video would span 100% -->
            @RenderBody()


            <footer class="our_foot">
                <p>
                    &copy; @DateTime.Now.Year &nbsp;&nbsp;&nbsp; |
                    &nbsp;&nbsp;&nbsp; Petopia! &nbsp;&nbsp;&nbsp; |
                    &nbsp;&nbsp;&nbsp; by Team Nerdvana
                </p>
            </footer>

        </div><!-- end div for body content -->

        <!--==========================================================================-->

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
