@using Microsoft.AspNet.Identity

@{ 
//string userFirstName = ViewBag.UserFirstName.ToString();
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, 
                            new { id = "logoutForm", @class = "navbar-right", style="color: #f2e6d9;" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">

        <!-- was trying to display 1st name instead of email, but, nope.....         -->
        <!--   just noticed we have no model   =]   -->
        @*<li>
            @Html.ActionLink("Hello " + (string) userFirstName + "!", "Index", "Manage",
                            routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>*@

        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage",
                            routeValues: null, htmlAttributes: new { title = "Manage", style="color: #f2e6d9;" })
        </li>

        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}

else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", 
            routeValues: null, htmlAttributes: new { id = "registerLink", style="color: #f2e6d9;" })</li>

        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, 
            htmlAttributes: new { id = "loginLink", style="color: #f2e6d9;" })</li>
    </ul>
}
