@model Petopia.Models.CareTransaction

@{
    ViewBag.Title = "Care Appointment Details";
}

<h2>@ViewBag.Title:</h2>
<hr />

<div>    

    <!--==============================================================================-->
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <!------------------------------------------------------------------------------>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <!--==========================================================================-->

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <!------------------------------------------------------------------------------>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <!--==========================================================================-->

        <dt>
            @Html.DisplayNameFor(model => model.CareProvided)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CareProvided)
        </dd>

        <!------------------------------------------------------------------------------>

        <dt>
            @Html.DisplayNameFor(model => model.CareReport)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CareReport)
        </dd>

        <!--==========================================================================-->

        <dt>
            @Html.DisplayNameFor(model => model.Charge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Charge)
        </dd>

        <!------------------------------------------------------------------------------>

        <dt>
            @Html.DisplayNameFor(model => model.Tip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tip)
        </dd>

        <!--==========================================================================-->

        <dt>
            @Html.DisplayNameFor(model => model.PC_Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PC_Rating)
        </dd>

        <!------------------------------------------------------------------------------>

        <dt>
            @Html.DisplayNameFor(model => model.PC_Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PC_Comments)
        </dd>

        <!--==========================================================================-->

        <dt>
            @Html.DisplayNameFor(model => model.PO_Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PO_Rating)
        </dd>

        <!------------------------------------------------------------------------------>

        <dt>
            @Html.DisplayNameFor(model => model.PO_Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PO_Comments)
        </dd>
        <!--==========================================================================-->
    </dl>

    <!--==============================================================================-->

</div>
<!--==================================================================================-->
<p>
    @Html.ActionLink("Edit-Update Care Appt", "EditAppointment", new { id = Model.TransactionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<!--==================================================================================-->