@model Petopia.Models.ViewModels.CareTransactionViewModel

@{
    ViewBag.Title = "Index -- All Pet Care Appointments";
    ViewBag.Title02 = "View for Admin + Petopia Staff";
}

<div class="container-fluid">

    <span style="float:right; margin-right:25px; padding-top:15px;">
        @Html.ActionLink("Book a new Pet Care Appointment!", "BookAppointment")
    </span>
    <span style="float:right; margin-right:25px; padding-top:15px;"> 
            @Html.ActionLink("Back to Dashboard", "Our_Dashboard", 
                new { Controller = "AdminLte" }) 
        </span>
    <h2>@ViewBag.Title:</h2>
    <h4><i>@ViewBag.Title02</i></h4>

    <table class="table admin_table">
        <tr>
            <!--======================================================================-->
            <th>
                PetID
            </th>
            <th>
                Pet Name
            </th>
            <!--======================================================================-->
            <th>
                PetOwnerID
            </th>
            <th>
                Owner Name
            </th>
            <!--======================================================================-->
            <th>
                PetCarerID
            </th>
            <th>
                Carer Name
            </th>
            <!--======================================================================-->
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <!--======================================================================-->
            <th></th>
        </tr>

        @foreach (var item in Model.IndexInfoList)
        {
            <tr>
                <!--==================================================================-->
                <td>
                    @Html.DisplayFor(model => model.PetID)
                </td>
                <td>
                    @Html.DisplayFor(model => item.PetName)
                </td>
                <!--==================================================================-->
                <td>
                    @Html.DisplayFor(model => item.PetOwnerID)
                </td>
                <td>
                    @Html.DisplayFor(model => item.PetOwnerName) 
                </td>
                <!--==================================================================-->
                <td>
                    @Html.DisplayFor(model => item.PetProviderID)
                </td>
                <td>
                    @Html.DisplayFor(model => item.PetProviderName) 
                </td>
                <!--==================================================================-->
                <td>
                    @Html.DisplayFor(model => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(model => item.EndDate)
                </td>
                <!--==================================================================-->
                <td>
                    @Html.ActionLink("Edit Appt", "EditAppointment",
                          new { id = item.TransactionID }) <hr style="margin-top:0px;" />
                    @Html.ActionLink("Appt Details", "Appts_AdminDetails", 
                          new { id = item.TransactionID }) <hr style="margin-top:0px;" />
                    @Html.ActionLink("Cancel Appt", "Delete", 
                          new { id = item.TransactionID }) <hr style="margin-top:0px;" />
                    @Html.ActionLink("Complete Appt", "CompleteAppointment", 
                                                new { id = item.TransactionID })
                </td>
                <!--==================================================================-->
            </tr>
        }
    </table>
</div><!-- END CONTAINER-FLUID -->
