@model Petopia.Models.CareTransaction

@{
    ViewBag.Title = "Complete This Care Appointment";
    ViewBag.Title02 = "From your Pet Carer";
    ViewBag.Title03 = "Pet Owner & Pet Carer => please rate your Pet Care transaction";
    var loggedInUser = ViewBag.loggedInUser;
    var thisPetsOwner = ViewBag.thisPetsOwnersASPNetIdentityID;
    var thisPetsCarer = ViewBag.thisPetsCarersASPNetIdentityID;
}

<div class="container-fluid"  style="padding-bottom:45px;">

    <!-- testing purposes! -->
    <div style="display:none;"> 
        logged-in user: @loggedInUser  <br />
        this pet's owner: @thisPetsOwner <br />
        this pet's carer: @thisPetsCarer <br />
        this pet's carerID: @ViewBag.thisPetsCarersID
    </div>

    @if (loggedInUser == thisPetsOwner || loggedInUser == thisPetsCarer)
    {
        using (Html.BeginForm("CompleteAppointment", "CareTransactions", FormMethod.Post,
                new { @class = "form", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <!-- THIS IS ***VERY*** IMPORTANT!!!!! -->
                @Html.HiddenFor(model => model.TransactionID)
                @Html.HiddenFor(model => model.PetOwnerID)
                <!---->
                <!---->
                <!------- change to the user's list (of pet care appointments)! ------->
                <span style="float: right; padding-right: 5px;">
                    @Html.ActionLink("See all my Pet Care appointments!", "MyAppointments",
                              new { @class = "btn our_buttons", style = "color: #f2e6d9;" })
                </span>
                <!---->
                <!------------------------------------------>
                <!---->
                <h2>@ViewBag.Title:</h2>
                <!---->
                <!---->
                <!-- =============================== FIRST\TOP ROW! ======================-->
                <div class="row make_appt_box">
                
                    <!-- SUMMARY OF VISIT BEING COMPLETED -- ALL READ-ONLY!!!!! -->
                    <div style="width:25%;">
                        <h5 style="margin-top:0px; margin-bottom:5px; 
                            background-color:lightyellow; color:crimson;
                            text-align:center; padding:5px; border-radius:5px;">
                            <i>you may no longer edit this part!</i>
                        </h5>
                    </div>

                    <!-- ====================== FIRST ROW -- FIRST COLUMN ================-->
                    <div class="col-sm-3 col-md-3">

                        <!-----------------------------START DATE -------------------------->
                        <div class="form-group" style="padding-top: 5px;">
                            @Html.LabelFor(model => model.StartDate,
                                    htmlAttributes: new { @class = "control-label" })

                            @Html.EditorFor(model => model.StartDate,
                                 new { htmlAttributes =
                                     new { @class = "form-control", @readonly = "readonly" } })

                            @Html.ValidationMessageFor(model => model.StartDate, "",
                                      new { @class = "text-danger" })
                        </div>
                        <!----------------------------- START TIME-------------------------->
                        <div class="form-group">
                            @Html.LabelFor(model => model.StartTime,
                                htmlAttributes: new { @class = "control-label" })

                            @Html.EditorFor(model => model.StartTime,
                                 new { htmlAttributes =
                                     new { @class = "form-control", @readonly = "readonly" } })

                            @Html.ValidationMessageFor(model => model.StartTime, "",
                                      new { @class = "text-danger" })
                        </div>
                        <!------------------------------------------------------------------>
                    </div><!-- END ROW 1 \ COL 1 -->
                    <!--==================================================================-->
                    <!---->
                    <!--===================== FIRST ROW - SECOND COLUMN ==================-->
                    <div class="col-sm-3 col-md-3">

                        <!-----------------------------END DATE ---------------------------->
                        <div class="form-group" style="padding-top: 5px;">
                            @Html.LabelFor(model => model.EndDate,
                                    htmlAttributes: new { @class = "control-label" })

                            @Html.EditorFor(model => model.EndDate,
                                 new { htmlAttributes =
                                     new { @class = "form-control", @readonly = "readonly" } })

                            @Html.ValidationMessageFor(model => model.EndDate, "",
                                      new { @class = "text-danger" })
                        </div>
                        <!---------------------------- END TIME ---------------------------->
                        <div class="form-group">
                            @Html.LabelFor(model => model.EndTime,
                                    htmlAttributes: new { @class = "control-label" })

                            @Html.EditorFor(model => model.EndTime,
                                 new { htmlAttributes =
                                     new { @class = "form-control", @readonly = "readonly" } })

                            @Html.ValidationMessageFor(model => model.EndTime, "",
                                      new { @class = "text-danger" })
                        </div>
                        <!--------------------------------------------------------->
                        <h6> <i> can span multiple days, i.e. pet-sitting! </i></h6>
                        <!------------------------------------------------------------------>
                    </div><!-- END ROW 1 \ COL 2 -->
                    <!--==================================================================-->
                    <!---->
                    <!--=============================== FIRST ROW - THIRD COLUMN =========-->
                    <div class="col-sm-4 col-md-4">

                        <!----------------------- NEEDED THIS VISIT ----------------------->
                        @Html.LabelFor(model => model.NeededThisVisit,
                              htmlAttributes: new { @class = "control-label" })
                        <br />
                        <!-- making 'readonly' shrinks it and makes text too light -->
                        <!-- 'disable'ing it makes it's data not bind to model --->
                        @Html.TextAreaFor(model => model.NeededThisVisit,
                              new { htmlAttributes =
                                  new { @class = "form-control our_text_area", @readonly = "readonly",
                                        cols = 360, rows = 5, id = "", name = "",
                                        style = "color:#2e2e1f; border-radius:5px; padding:5px;" } })

                        <div><!-- can't remove this or } error..... -->
                            <!-- do a character counter here! -->
                        </div><!-- obviously we don't need one here -->

                        @Html.ValidationMessageFor(model => model.NeededThisVisit, "",
                                              new { @class = "text-danger" })
                        <!----------------------------------------------------------------->
                    </div><!-- END ROW 1 \ COL 3 -->
                    <!--==================================================================-->
                    <!---->
                    <!--=============================== FIRST ROW - FOURTH COLUMN ========-->
                    <div class="col-sm-2 col-md-2">

                        <!---------------------------------- WHICH PET? -------------------->
                        <div class="form-group">
                            @Html.LabelFor(model => model.PetID,
                                    htmlAttributes: new { @class = "control-label" })

                            @Html.EditorFor(model => model.PetID,
                                 new { htmlAttributes =
                                     new { @class = "form-control", @readonly = "readonly" } })

                            @Html.ValidationMessageFor(model => model.PetID, "",
                                          new { @class = "text-danger" })
                        </div>
                        <!---------------------------- WHICH PET CARER? -------------------->
                        <div class="form-group">
                            @Html.LabelFor(model => model.CareProviderID,
                                    htmlAttributes: new { @class = "control-label" })

                            @Html.EditorFor(model => model.CareProviderID,
                                 new { htmlAttributes =
                                     new { @class = "form-control", @readonly = "readonly" } })

                            @Html.ValidationMessageFor(model => model.CareProviderID,
                                  "", new { @class = "text-danger" })
                        </div>
                    </div>
                <!--======================================================================-->
                </div><!-- END ROW 1 -->
                <!---->
                <!---->
                <!--=======--><!-- HERE UNTIL CONTROLLER SET UP!!!!! --><!-- for testing! -->
                <!-------------------------------------------------------------------------->
                    @*<div class="form-group" style="float: right;">
                        @Html.LabelFor(model => model.PetOwnerID, 
                                            htmlAttributes: new { @class = "control-label" })

                            @Html.EditorFor(model => model.PetOwnerID, 
                                new { htmlAttributes = 
                                    new { @class = "form-control", @readonly="readonly" } })

                            @Html.ValidationMessageFor(model => model.PetOwnerID, "", 
                                                            new { @class = "text-danger" })
                    </div>*@
                <!-------------------------------------------------------------------------->
                <!---->
                <!---->
                    <br />
                    <h2>@ViewBag.Title02.....</h2>
                <!---->
                <!-- =============================== SECOND\MIDDLE ROW! ==================-->
                <div class="row make_appt_box">
                    <!---->
                    <!---->
                    <!--======== THE ACTUAL STUFF TO COMPLETE THE APPOINTMENT!!!!! =======-->
                    <!---->
                    <!---->
                    <!--============================== SECOND ROW \ FIRST COLUMN =========-->
                        <div class="col-sm-4 col-md-4">
                        
                            <!----------------- CARE PROVIDED SUMMARY ------------------------>
                            <div class="form-group" style="padding-top:5px;">
                                <h4>Quick Summary -- </h4>
                                @Html.LabelFor(model => model.CareProvided,
                                        htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.CareProvided,
                                     new { htmlAttributes =
                                         new { @class = "form-control",
                                               @placeholder = "just a quick recap....." } })

                                @Html.ValidationMessageFor(model => model.CareProvided, "",
                                                        new { @class = "text-danger" })
                            </div>
                            <!-------------------------------------------------------------->
                        </div><!-- END ROW 2 \ COL 1 -->
                        <!--==============================================================-->
                        <!---->
                        <!-- ========================== SECOND ROW \ SECOND COLUMN =======-->
                        <div class="col-sm-5 col-md-5">

                            <!-------------------- FULL PET CARE REPORT -------------------->
                            <div class="form-group" style="padding-top:5px;">
                                @Html.LabelFor(model => model.CareReport,
                                    htmlAttributes: new { @class = "control-label" })
                                <br />
                                @Html.TextAreaFor(model => model.CareReport,
                                     new { htmlAttributes =
                                         new { @class = "form-control our_text_area" },
                                               cols = 180, rows = 5, id = "text21", name = "text21",
                                               style = "color:#2e2e1f; border-radius:5px; padding:5px;" })

                                <div>
                                    <!-- do a character counter here! -->
                                    <span class="pull-left label label-default"
                                        id="count_message_21">
                                    </span>
                                </div>

                                @Html.ValidationMessageFor(model => model.CareReport, "",
                                  new { @class = "text-danger" })
                            </div>
                            <!-------------------------------------------------------------->
                        </div><!-- END ROW 2 \ COL 2 -->
                        <!--==============================================================-->
                        <!---->
                        <!-- ========================== SECOND ROW \ THIRD COLUMN ========-->
                        <div class="col-sm-3 col-md-3 carer_fee_box">

                            <!-------------- FEE FOR YOUR PET CARE APPT  ------------------->
                            <div class="form-group">
                                @Html.LabelFor(model => model.Charge,
                                        htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.Charge,
                                     new { htmlAttributes =
                                         new { @class = "form-control",
                                               @placeholder = "base fee for your pet care" } })

                                @Html.ValidationMessageFor(model => model.Charge, "",
                                                        new { @class = "text-danger" })
                            </div>
                            <!------------------- TIP FOR YOUR PET CARER? ------------------>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Tip,
                                    htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.Tip,
                                     new { htmlAttributes =
                                         new { @class = "form-control",
                                               @placeholder = "a tip is nice!   (:" } })

                                @Html.ValidationMessageFor(model => model.Tip, "",
                                                new { @class = "text-danger" })
                            </div>
                            <!-------------------------------------------------------------->
                        </div><!-- END ROW 2 \ COL 3 -->
                    <!--==================================================================-->
                    </div><!-- END ROW 2-->
                    <!---->
                    <!---->
                        <br />
                        <h2>@ViewBag.Title03:</h2>
                    <!---->
                    <!-- =============================== THIRD\BOTTOM ROW! ===============-->
                    <div class="row make_appt_box">

                        <!--========================== THIRD ROW \ COL ONE ===============-->
                        <div class="col-sm-6 col-md-6 carer_rating_comment_box" >

                            <!---------------------- PET CARER RATING (from pet owner) ----->
                            <div class="form-group">
                                @Html.LabelFor(model => model.PC_Rating,
                                    htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.PC_Rating,
                                     new { htmlAttributes =
                                         new { @class = "form-control",
                                               min = 1, max = 5,
                                               @placeholder = "rate pet carer 1 - 5" } })


                                @Html.ValidationMessageFor(model => model.PC_Rating,
                                                    "", new { @class = "text-danger" })
                            </div>
                            <!--------------- PET CARER COMMENTS (from pet owner) ---------->
                            <div class="form-group">
                                @Html.LabelFor(model => model.PC_Comments,
                                    htmlAttributes: new { @class = "control-label" })
                                <br />
                                @Html.TextAreaFor(model => model.PC_Comments,
                                     new { htmlAttributes =
                                         new { @class = "form-control our_text_area" },
                                               cols = 180, rows = 5, id = "text22", name = "text22",
                                               style = "color:#2e2e1f; border-radius:5px; padding:5px;" })

                                <div>
                                    <!-- do a character counter here! -->
                                    <span class="pull-left label label-default"
                                        id="count_message_22">
                                    </span>
                                </div>

                                @Html.ValidationMessageFor(model => model.PC_Comments, "",
                                                    new { @class = "text-danger" })
                            </div>
                            <!-------------------------------------------------------------->
                        </div><!-- END ROW 3 \ COL 1 -->
                        <!--==============================================================-->
                        <!---->
                        <!-- ========================== THIRD ROW \ SECOND COLUMN ========-->
                        <div class="col-sm-6 col-md-6 owner_rating_comment_box">

                            <!---------------------- PET ONWER RATING (from pet carer) ----->
                            <div class="form-group">
                                @Html.LabelFor(model => model.PO_Rating,
                                        htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.PO_Rating,
                                    new { htmlAttributes =
                                        new { @class = "form-control",
                                              min = 1, max = 5,
                                              @placeholder = "rate pet owner 1 - 5" } })

                                @Html.ValidationMessageFor(model => model.PO_Rating, "",
                                                        new { @class = "text-danger" })
                            </div>
                            <!---------------- PET OWNER COMMENTS (from pet carer) -------->
                            <div class="form-group">
                                @Html.LabelFor(model => model.PO_Comments,
                                    htmlAttributes: new { @class = "control-label" })
                                <br />
                                @Html.TextAreaFor(model => model.PO_Comments,
                                    new { htmlAttributes =
                                        new { @class = "form-control our_text_area" },
                                              cols = 180, rows = 5, id = "text23", name = "text23",
                                              style = "color:#2e2e1f; border-radius:5px; padding:5px;" })

                                <div>
                                    <!-- do a character counter here! -->
                                    <span class="pull-left label label-default"
                                        id="count_message_23">
                                    </span>
                                </div>

                                @Html.ValidationMessageFor(model => model.PO_Comments, "",
                                                new { @class = "text-danger" })
                            </div>
                            <!-------------------------------------------------------------->
                        </div><!-- END ROW 3 \ COL 1 -->
                    <!--==================================================================-->
                    </div><!-- END ROW THREE -->
                    <!---->
                    <!---->
                    <!--============ ROW JUST FOR 'COMPLETE APPOINTMENT' BUTTON ==========-->
                    <div class="row" style="margin-top:23px;">
                        <div class="col-sm-offset-10 col-md-offset-10 col-sm-2 col-md-2">
                            <span style="float: right; padding-right: 5px;">
                                <input type="submit" value="Complete Appointment!"
                                       class="btn our_buttons" />
                            </span>
                        </div>
                    </div>
                <!-------------------------------------------------------------------------->
            </div><!-- END FORM DIV! -->
        }
    }
    else
    { 
        <h5> you are not this pet's owner or care provider! </h5>
    }
</div><!-- END CONTAINER-FLUID DIV! -->
<!--==================================================================================-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/_our_main.js")
}
<!--==================================================================================-->