@model Petopia.Models.CareTransaction

@{
    ViewBag.Title = "Cancel Pet Care Confirmation!";
    ViewBag.Title01 = "'s Pet Care appointment has been canceled!";
    ViewBag.Title02 = "an email has been sent to you & your Pet Care Provider!";
}

<div class="container-fluid">

    <h2> @ViewBag.PetName@ViewBag.Title01 </h2>
    <h4> @ViewBag.Title02 </h4>

    <div class="container-fluid my_appt_box" style="padding: 15px;">

        <!--=============================== ROW ONE ==============================-->
        <div class="row our_row_three" style="margin-top: 36px;">

            <div>
                Where do you want to go?
            </div>

        </div><!-- END ROW ONE -->
        <!--======================================================================-->
        <!---->
        <!---->
        <!--=============================== ROW TWO ==============================-->
        <div class="row our_row_three" style="margin-top: 5px;">

            <span style="float: right; margin-right: 5px;" class="btn our_buttons">
                @Html.ActionLink("My Profile", "Index",
                                    new { controller = "ProfilePage" }, 
                                    new { style = "color: #f2e6d9;" } )
            </span>

            <span style="float: right; margin-right: 5px;" class="btn our_buttons">
                @Html.ActionLink("Pet's Profile", "PetProfile",
                                    new { controller = "Pets", id = Model.PetID },
                                    new { style = "color:#f2e6d9" })
            </span>

            <span style="float: right; margin-right: 5px;" class="btn our_buttons">
                @Html.ActionLink("All my Pet care appointments", "MyAppointments", 
                                new { controller = "CareTransactions" },
                                new { style="color: #f2e6d9;"})
            </span>

        </div><!-- END ROW TWO -->
        <!--======================================================================-->

    </div><!-- END CONTAINER-FLUID + 'my_appt_box' -->

</div><!-- END CONTAINER-FLUID (outer-most container) -->
<!--==================================================================================-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<!--==================================================================================-->