@model Petopia.Models.CareTransaction

@{
    ViewBag.Title = "Edit/Update This Pet Care Appointment";
}

<div class="container-fluid" style="padding-bottom:45px;">

@using (Html.BeginForm("EditAppointment", "CareTransactions", FormMethod.Post,
            new { @class = "form", role = "form", enctype = "multipart/form-data" } ))
{
    @Html.AntiForgeryToken()

    <div class="form">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TransactionID)

        <h2>@ViewBag.Title:</h2>

        <!-- =============================== FIRST\TOP ROW! ==========================-->
            <div class="row make_appt_box">

                <!-- ====================== FIRST ROW -- FIRST COLUMN ================-->
                <div class="col-sm-3 col-md-3">

                    <h4> select start date &amp; time: </h4>
                    <!---->
                    <!----- INITIATE APPOINTMENT --------------------------------------->
                    <!-----------------------------START DATE -------------------------->
                    <div class="form-group" style="padding-top: 5px;">
                        @Html.LabelFor(model => model.StartDate,
                                    htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.StartDate,
                            new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.StartDate, "",
                                                    new { @class = "text-danger" })
                    </div>
                    <!--------------------------------- START TIME---------------------->
                    <div class="form-group">
                        @Html.LabelFor(model => model.StartTime,
                                    htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.StartTime,
                            new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.StartTime, "",
                                                    new { @class = "text-danger" })
                    </div>
                    <!------------------------------------------------------------------>
                </div><!-- END ROW 1 \ COL 1 -->
                <!--==================================================================-->
                <!---->
                <!--========================= FIRST ROW - SECOND COLUMN ==============-->
                <div class="col-sm-3 col-md-3">

                    <h4> select end date &amp; time: </h4>
                    <!---->
                    <!-----------------------------END DATE ---------------------------->
                    <div class="form-group" style="padding-top: 5px;">
                        @Html.LabelFor(model => model.EndDate,
                                    htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.EndDate,
                            new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.EndDate, "",
                                                    new { @class = "text-danger" })
                    </div>
                    <!---------------------------- END TIME ---------------------------->
                    <div class="form-group">
                        @Html.LabelFor(model => model.EndTime,
                                    htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.EndTime,
                            new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.EndTime, "",
                                                    new { @class = "text-danger" })
                    </div>
                    <!------------------------------------------------------------------>
                    <h6> <i> can span multiple days, i.e. pet-sitting! </i></h6>
                    <!------------------------------------------------------------------>
                </div><!-- END ROW 1 \ COL 2 -->
                <!--==================================================================-->
                <!---->
                <!--=============================== FIRST ROW - THIRD COLUMN =========-->
                <div class="col-sm-4 col-md-4">
                    <h4> Instructions for this visit: </h4>
                    <!----------------------- NEEDED THIS VISIT ----------------------->
                    @Html.LabelFor(model => model.NeededThisVisit,
                                    htmlAttributes: new { @class = "control-label" })
                    <br />
                    @Html.TextAreaFor(model => model.NeededThisVisit,
                        new { htmlAttributes =
                        new { @class = "form-control our_text_area" },
                        cols = 180, rows = 5, id = "", name = "",
                        style = "color: #2e2e1f; border-radius:5px; padding: 5px;" })

                    <div>
                        <!-- do a character counter here! -->
                    </div>

                    @Html.ValidationMessageFor(model => model.NeededThisVisit, "",
                                                    new { @class = "text-danger" })
                    <!----------------------------------------------------------------->
                </div><!-- END ROW 1 \ COL 3 -->
                <!--==================================================================-->
                <!---->
                <!--=============================== FIRST ROW - FOURTH COLUMN ========-->
                <div class="col-sm-2 col-md-2">

                    <!---------------------------------- WHICH PET? -------------------->
                    <div class="form-group">
                        @Html.LabelFor(model => model.PetID,
                                        htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.PetID,
                                new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.PetID, "",
                                                        new { @class = "text-danger" })
                    </div>
                    <!---------------------------- WHICH PET CARER? -------------------->
                    <div class="form-group">
                        @Html.LabelFor(model => model.CareProviderID,
                                        htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.CareProviderID,
                            new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.CareProviderID,
                                                "", new { @class = "text-danger" })
                    </div>
                    <!----------------------- EDIT PET CARE APPOINTMENT!  -------------->
                    <div class="form-group" style="padding-top: 18px;">
                        <span style="float: right; padding-right: 5px;">
                            <input type="submit" value="Update this Appointment!"
                                   class="btn our_buttons" />
                        </span>
                        <span style="float: right; margin-right: 5px;" 
                              class="btn our_buttons">
                            @Html.ActionLink("Cancel", "MyAppointments",
                                            new { style = "color: #f2e6d9;" })
                        </span>
                    </div>
                    <!------------------------------------------------------------------>
                </div>
            <!--======================================================================-->
            </div><!-- END ROW 1 -->
            <!---->
            <!---->
                <br />            

                <!---------------------------------------------------------------------->
                <div class="form-group" style="float: right;">
                    @Html.LabelFor(model => model.PetOwnerID, 
                                        htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.PetOwnerID, 
                                new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.PetOwnerID, "", 
                                                        new { @class = "text-danger" })
                </div>
                <!---------------------------------------------------------------------->
            


            <!-------------------------------------------------------------------------->
        </div><!-- END FORM DIV! -->
}
<!--==================================================================================-->
<div class="btn our_buttons">
    @Html.ActionLink("Back to My Appointments", "MyAppointments")
</div>


</div><!-- END CONTAINER-FLUID DIV! -->
<!--==================================================================================-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<!--==================================================================================-->