@model Petopia.Models.ViewModels.CareTransactionViewModel

@{
    ViewBag.Title = "My Pet's Care Appointments";
    ViewBag.Title01 = "'s Pet Care Appointments";
    var thisPetsName = ViewBag.thisPetsName;

    // debugging
    var thisPetID = ViewBag.thisPetID;
    var thisPetsOwnersID = ViewBag.thisPetsOwnersID;
    var thisPetsOwnersPetopiaUserID = ViewBag.thisPetsOwnersPetopiaUserID ;
    var thisPetsOwnersASPNetIdentityID = ViewBag.thisPetsOwnersASPNetIdentityID;
    var thisLoggedInUser = ViewBag.loggedInUser;

    // making sure user is pet's owner 
    var loggedInUser = ViewBag.loggedInUser;
    var thisPetsOwner = ViewBag.thisPetsOwnersASPNetIdentityID;    
}

<div class="container-fluid" style="margin-bottom: 45px;"><!-- outer container -->
    <!--==============================================================================-->
    <!-- testing purposes -->
    <div style="display:none;"> 
        @loggedInUser  <br />
        @thisPetsOwner
    </div>
    <!-- debugging: Possum\Zoey\Lacey come in fine -- Sawyer did not! -->
    <div class="debugging_shit" style="display:none;">
        <p> thisPetID = @thisPetID </p>
        <p> thisPetsOwnersID = @thisPetsOwnersID </p>
        <p> thisPetsOWnersPetopiaUserID = @thisPetsOwnersPetopiaUserID </p>
        <p> thisPetsOwnersASPNetIdentityID = @thisPetsOwnersASPNetIdentityID </p>
        <p> thisLoggedInUser = @thisLoggedInUser </p>
    </div>
    <!--==============================================================================-->
    @if (loggedInUser == thisPetsOwner)
    {
        <span style="float:right; margin-right:5px; margin-top:15px;"
              class="btn our_buttons">
            @Html.ActionLink("Back to my Profile", "Index",
                                new { Controller = "ProfilePage" },
                                new { style = "color: #f2e6d9; font-weight: normal;" })
        </span>

        <h2>@thisPetsName@ViewBag.Title01:</h2>

        <!--=================== TABS! 'UPCOMING' & 'PAST' APPTS!======================-->
        <!---->
        <!-- the nav part -->
        <ul class="nav nav-tabs" style="border: none;">
            <li class="active">
                <a data-toggle="tab" href="#home" style="background-color: #392613; 
                                                         color: #f2e6d9;">
                    pending appointments
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#menu1" style="background-color: #604020; 
                                                          color: #f2e6d9;">
                    confirmed appointments
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#menu2" style="background-color: #604020; 
                                                          color: #f2e6d9;">
                    finished appointments
                </a>
            </li>
        </ul>
        <!--------------------- THE TAB CONTENT PART! ---------------------------------->
        <!---->
        <div class="tab-content">
            <!-------------------------- 1st TAB => Upcoming Appts --------------------->
            <div id="home" class="tab-pane fade in active">

                @if (Model.ApptInfoListPending.Count() > 0)
                {
                    foreach (var item in Model.ApptInfoListPending)
                    {
                        <div class="container-fluid my_appt_box" style="padding: 15px;">

                            <!--============================= ROW ZERO! ==============-->
                            <div class="row" style="margin-bottom: 18px;">

                                <div class="col-sm-12 col-md-12">

                                    <span style="float:left;">
                                        <!-------------------------------------------------->
                                        <span class="our_appt_label">
                                            @Html.DisplayNameFor(model => model.PetName)&nbsp;&nbsp;
                                        </span>
                                        @Html.DisplayFor(model => item.PetName)
                                    </span>
                                    <!------------------------------------------------------>

                                    <span style="float:left; margin-left: 25px;">
                                        <span class="our_appt_label">
                                            @Html.DisplayNameFor(model => item.PetOwnerName)&nbsp;&nbsp;
                                        </span>
                                        @Html.DisplayFor(model => item.PetOwnerName)
                                    </span>
                                    <!------------------------------------------------------>
                                    <span style="float:left; margin-left: 25px;">
                                        <span class="our_appt_label">
                                            @Html.DisplayNameFor(model => item.PetCarerName)&nbsp;
                                        </span>
                                        @Html.DisplayFor(model => item.PetCarerName)
                                    </span>
                                    <!------------------------------------------------------>
                                </div>

                            </div><!-- END ROW ZERO -->
                            <!---->
                            <!---->
                            <!--=================================== ROW ONE ==========-->
                            <div class="row our_row_one" style="margin-bottom:18px;">
                                <!------------------------------- ROW 1 \ COL 1 -------->
                                <div class="col-sm-1 col-md-1">

                                    <div style="margin-bottom: 5px;">
                                        <span class="our_appt_label">
                                            From:<br />
                                        </span>
                                        @Html.DisplayFor(modelItem => item.StartDate)
                                    </div>

                                    <div>
                                        <span class="our_appt_label">
                                            at:<br />
                                        </span>
                                        @Html.DisplayFor(modelItem => item.StartTime)
                                    </div>

                                </div><!-- END ROW 1 \ COL 1 -->
                                <!------------------------------------------------------>
                                <!---->
                                <!--------------------------- ROW 1 \ COL 2 ------------>
                                <div class="col-sm-1 col-md-1">

                                    <div style="margin-bottom: 5px;">
                                        <span class="our_appt_label">
                                            To:<br />
                                        </span>
                                        @Html.DisplayFor(modelItem => item.EndDate)
                                    </div>

                                    <div>
                                        <span class="our_appt_label">
                                            at:<br />
                                        </span>
                                        @Html.DisplayFor(modelItem => item.EndTime)
                                    </div>

                                </div><!-- END ROW 1 \ COL 2 -->
                                <!---->
                                <!--------------------------- ROW 1 \ COL 3 ------------>
                                <div class="col-sm-3 col-md-3" style="margin-left: 23px;">

                                    <div>
                                        <span class="our_appt_label">
                                            @Html.DisplayNameFor(model => model.NeededThisVisit)<br />
                                        </span>
                                        @Html.DisplayFor(modelItem => item.NeededThisVisit)
                                    </div>

                                </div><!-- END ROW 1 \ COL 3 -->
                                <!------------------------------------------------------>
                                <!---->
                                <!--------------------------- ROW 1 \ COL 4 ------------>
                                <div class="col-sm-3 col-md-3" style="margin-left: 23px;">

                                    <div>
                                        <span class="our_appt_label">
                                            @Html.DisplayNameFor(model => model.CareProvided)<br />
                                        </span>
                                        @Html.DisplayFor(modelItem => item.CareProvided)
                                    </div>

                                </div><!-- END ROW 1 \ COL 4 -->
                                <!------------------------------------------------------>
                                <!---->
                                <!----------------------------- ROW 1 \ COL 5 ---------->
                                <div class="col-sm-3 col-md-3" style="margin-left: 23px;">

                                    <div style="margin-bottom: 13px;">
                                        <span class="our_appt_label">
                                            @Html.DisplayNameFor(model => model.Charge) &nbsp; $ <br />
                                        </span>
                                        @Html.DisplayFor(modelItem => item.Charge)
                                    </div>

                                    <div style="margin-top: 13px;">
                                        <span class="our_appt_label">
                                            @Html.DisplayNameFor(model => model.Tip) &nbsp; $ <br />
                                        </span>
                                        @Html.DisplayFor(modelItem => item.Tip)
                                    </div>

                                </div><!-- END ROW 1 \ COL 5 -->
                                <!------------------------------------------------------>
                            </div><!-- END ROW 1 -->
                            <!---->
                            <!---->
                            <!--=============================== ROW TWO ==============-->
                            <div class="row our_row_two" style="margin-bottom: 18px;">

                                <!--------------------------------- ROW 2 \ COL 1 ------>
                                <div class="col-sm-3 col-md-3">

                                    <div>
                                        <span class="our_appt_label">
                                            @Html.DisplayNameFor(model => model.CareReport)<br />
                                        </span>
                                        @Html.DisplayFor(modelItem => item.CareReport)
                                    </div>

                                </div><!-- END ROW 2 \ COL 1-->
                                <!------------------------------------------------------>
                                <!---->
                                <!----------------------------------- ROW 2 \ COL 2 ---->
                                <div class="col-sm-4 col-md-4" style="margin-left: 45px;">

                                    <div>
                                        <span class="our_appt_label">
                                            @Html.DisplayNameFor(model => model.PC_Rating) &nbsp;
                                        </span>
                                        @Html.DisplayFor(modelItem => item.PC_Rating)
                                    </div>

                                    <div>
                                        <span class="our_appt_label">
                                            @Html.DisplayNameFor(model => model.PC_Comments)<br />
                                        </span>
                                        @Html.DisplayFor(modelItem => item.PC_Comments)
                                    </div>

                                </div>
                                <!------------------------------------------------------>
                                <!---->
                                <!--------------------------- ROW 2 \ COL 3 ------------>
                                <div class="col-sm-4 col-md-4" style="margin-left: 45px;">

                                    <div>
                                        <span class="our_appt_label">
                                            @Html.DisplayNameFor(model => model.PO_Rating) &nbsp;
                                        </span>
                                        @Html.DisplayFor(modelItem => item.PO_Rating)
                                    </div>

                                    <div>
                                        <span class="our_appt_label">
                                            @Html.DisplayNameFor(model => model.PO_Comments)<br />
                                        </span>
                                        @Html.DisplayFor(modelItem => item.PO_Comments)
                                    </div>

                                </div><!-- END ROW 2 \ COL 3 -->
                                <!------------------------------------------------------>
                            </div><!-- END ROW 2 -->
                            <!---->
                            <!---->
                            <!--============================== ROW THREE =============-->
                            <div class="row our_row_three">

                                <div style="float: right; margin-right: 5px;">
                                    @Html.ActionLink("Cancel Appointment", "Delete",
                                    new { id = item.CareTransactionID },
                                    new { @class="our_buttons",
                                        style = "color: #f2e6d9; font-weight: normal" })
                                </div>

                                <div style="float: right; margin-right: 5px;">
                                    @Html.ActionLink("Edit Appointment", "EditAppointment",
                                    new { id = item.CareTransactionID },
                                    new { @class="our_buttons",
                                        style = "color: #f2e6d9; font-weight: normal" })
                                </div>

                                <div style="float: right; margin-right: 5px;">
                                    @Html.ActionLink("Pet's Profile", "PetProfile",
                                        new { controller = "Pets", id = item.PetID },
                                        new { @class="our_buttons",
                                            style = "color: #f2e6d9; font-weight: normal" })
                                </div>
                                
                                <div style="float: right; margin-right: 5px">
                                            @Html.ActionLink("Carer's Profile", "VisitProfile",
                                                new { controller = "ProfilePage", 
                                                      loggedID = item.PetCarerPetopiaID },
                                                new { @class = "our_buttons", 
                                                    style = "color:#f2e6d9; font-weight:normal;" })
                                    </div>

                                <!-- for testing during initial setup -->
                                <span style="margin-right: 15px; display:none;">
                                    ct_id? @Html.DisplayFor(model => item.CareTransactionID)
                                </span>
                                <span style="margin-right: 15px;">
                                    Pending? @Html.DisplayFor(model => item.Pending)
                                </span>
                                <span style="margin-right: 15px;">
                                    Confirmed? @Html.DisplayFor(model => item.Confirmed)
                                </span>

                            </div><!-- END ROW THREE-->
                            <!--======================================================-->
                        </div><!-- END CONTAINER-FLUID + 'my_appt_box' -->
                    }
                }
                else
                {
                    <p style="text-align: center;">
                        you don't have any pending appointments at this time!
                    </p>
                }
                <!------------------------------------------------------------------------->
            </div><!-- END DIV ID==HOME & class="tab-pane fade in active" -->
            <!-- aka PENDING APPTS! -->
            <!---->
            <!---->
            <!--                            CONFIRMED!!!                              -->
            <!--======================================================================-->
            <!------------------------- 2nd TAB => Confirmed Appts ---------------------->
            <div id="menu1" class="tab-pane fade">
                <div id="home" class="tab-pane fade in active">

                    @if (Model.ApptInfoListConfirmed.Count() > 0)
                    {
                        foreach (var item in Model.ApptInfoListConfirmed)
                        {
                            <div class="container-fluid my_appt_box" style="padding: 15px;">

                                <!--============================= ROW ZERO! ==========-->
                                <div class="row" style="margin-bottom: 18px;">

                                    <div class="col-sm-12 col-md-12">

                                        <span style="float:left;">
                                            <!-------------------------------------------------->
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => model.PetName)
                                                &nbsp;&nbsp;
                                            </span>
                                            @Html.DisplayFor(model => item.PetName)
                                        </span>
                                        <!------------------------------------------------------>
                                        <span style="float:left; margin-left: 25px;">
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => item.PetOwnerName)
                                                &nbsp;&nbsp;
                                            </span>
                                            @Html.DisplayFor(model => item.PetOwnerName)
                                            &nbsp; | &nbsp; @Html.DisplayFor(model => item.PetOwner_MainPhone)
                                            &nbsp; | &nbsp; @Html.DisplayFor(model => item.PetOwner_Email)
                                        </span>
                                        <!------------------------------------------------------>
                                        <span style="float:left; margin-left: 25px;">
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => item.PetCarerName)&nbsp;
                                            </span>
                                            @Html.DisplayFor(model => item.PetCarerName)
                                            &nbsp; | &nbsp; @Html.DisplayFor(model => item.PetCarer_MainPhone)
                                            &nbsp; | &nbsp; @Html.DisplayFor(model => item.PetCarer_Email)
                                        </span>
                                        <!------------------------------------------------------>
                                    </div>

                                </div><!-- END ROW ZERO -->
                                <!---->
                                <!---->
                                <!--=================================== ROW ONE ======-->
                                <div class="row our_row_one" style="margin-bottom: 18px;">
                                    <!------------------------------- ROW 1 \ COL 1 ---->
                                    <div class="col-sm-1 col-md-1">

                                        <div style="margin-bottom: 5px;">
                                            <span class="our_appt_label">
                                                From:<br />
                                            </span>
                                            @Html.DisplayFor(modelItem => item.StartDate)
                                        </div>

                                        <div>
                                            <span class="our_appt_label">
                                                at:<br /> </span>
                                            @Html.DisplayFor(modelItem => item.StartTime)
                                        </div>

                                    </div><!-- END ROW 1 \ COL 1 -->
                                    <!-------------------------------------------------->
                                    <!---->
                                    <!--------------------------- ROW 1 \ COL 2 -------->
                                    <div class="col-sm-1 col-md-1">

                                        <div style="margin-bottom: 5px;">
                                            <span class="our_appt_label">
                                                To:<br /> </span>
                                            @Html.DisplayFor(modelItem => item.EndDate)
                                        </div>

                                        <div>
                                            <span class="our_appt_label">
                                                at:<br /> </span>
                                            @Html.DisplayFor(modelItem => item.EndTime)
                                        </div>

                                    </div><!-- END ROW 1 \ COL 2 -->
                                    <!---->
                                    <!--------------------------- ROW 1 \ COL 3 -------->
                                    <div class="col-sm-3 col-md-3" style="margin-left: 23px;">

                                        <div>
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => model.NeededThisVisit)<br />
                                            </span>
                                            @Html.DisplayFor(modelItem => item.NeededThisVisit)
                                        </div>

                                    </div><!-- END ROW 1 \ COL 3 -->
                                    <!-------------------------------------------------->
                                    <!---->
                                    <!--------------------------- ROW 1 \ COL 4 -------->
                                    <div class="col-sm-3 col-md-3" style="margin-left: 23px;">

                                        <div>
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => model.CareProvided)<br />
                                            </span>

                                            <!-------- wanna check if null to color it ------->
                                            @*@if ( Model != null && item.CareProvided != null )
                                                {
                                                    <span style="background-color:red;">
                                                        @Html.DisplayFor(modelItem => item.CareProvided)
                                                    </span>
                                                }*@ <!-- this gives no errors but also no results! -->
                                            <!-------------------------------------------------->

                                            @Html.DisplayFor(modelItem => item.CareProvided)
                                        </div>

                                    </div><!-- END ROW 1 \ COL 4 -->
                                    <!-------------------------------------------------->
                                    <!---->
                                    <!----------------------------- ROW 1 \ COL 5 ------>
                                    <div class="col-sm-3 col-md-3" style="margin-left: 23px;">

                                        <div style="margin-bottom: 13px;">
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => model.Charge) &nbsp; $ <br />
                                            </span>
                                            @Html.DisplayFor(modelItem => item.Charge)
                                        </div>

                                        <div style="margin-top: 13px;">
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => model.Tip) &nbsp; $ <br />
                                            </span>
                                            @Html.DisplayFor(modelItem => item.Tip)
                                        </div>

                                    </div><!-- END ROW 1 \ COL 5 -->
                                    <!-------------------------------------------------->
                                </div><!-- END ROW 1 -->
                                <!---->
                                <!---->
                                <!--=============================== ROW TWO ==========-->
                                <div class="row our_row_two" style="margin-bottom: 18px;">

                                    <!--------------------------------- ROW 2 \ COL 1 -->
                                    <div class="col-sm-3 col-md-3">

                                        <div>
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => model.CareReport)<br />
                                            </span>
                                            @Html.DisplayFor(modelItem => item.CareReport)
                                        </div>

                                    </div><!-- END ROW 2 \ COL 1-->
                                    <!-------------------------------------------------->
                                    <!---->
                                    <!--------------------------- ROW 2 \ COL 2 -------->
                                    <div class="col-sm-4 col-md-4" style="margin-left: 45px;">

                                        <div>
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => model.PC_Rating) &nbsp;
                                            </span>
                                            @Html.DisplayFor(modelItem => item.PC_Rating)
                                        </div>

                                        <div>
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => model.PC_Comments)<br />
                                            </span>
                                            @Html.DisplayFor(modelItem => item.PC_Comments)
                                        </div>

                                    </div>
                                    <!-------------------------------------------------->
                                    <!---->
                                    <!---------------------------- ROW 2 \ COL 3 ------->
                                    <div class="col-sm-4 col-md-4" style="margin-left: 45px;">

                                        <div>
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => model.PO_Rating) &nbsp;
                                            </span>
                                            @Html.DisplayFor(modelItem => item.PO_Rating)
                                        </div>

                                        <div>
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => model.PO_Comments)<br />
                                            </span>
                                            @Html.DisplayFor(modelItem => item.PO_Comments)
                                        </div>

                                    </div><!-- END ROW 2 \ COL 3 -->
                                    <!-------------------------------------------------->
                                </div><!-- END ROW 2 -->
                                <!---->
                                <!---->
                                <!--============================== ROW THREE =========-->
                                <div class="row our_row_three">

                                    <div style="float: right; margin-right: 5px;">
                                        @Html.ActionLink("Complete Appointment",
                                            "CompleteAppointment",
                                            new { id = item.CareTransactionID },
                                                new { @class="our_buttons",
                                                    style = "color: #f2e6d9; font-weight: normal" })
                                    </div>

                                    <div style="float: right; margin-right: 5px;" >
                                        @Html.ActionLink("Pet's Profile", "PetProfile",
                                            new { controller = "Pets", id = item.PetID },
                                                new { @class="our_buttons",
                                                    style = "color: #f2e6d9; font-weight: normal" })
                                    </div>

                                    <div style="float: right; margin-right: 5px">
                                            @Html.ActionLink("Carer's Profile", "VisitProfile",
                                                new { controller = "ProfilePage", 
                                                      loggedID = item.PetCarerPetopiaID },
                                                new { @class = "our_buttons", 
                                                    style = "color:#f2e6d9; font-weight:normal;" })
                                    </div>

                                    <!-- for testing during initial setup -->
                                    <span style="margin-right: 15px; display:none;">
                                        ct_id? @Html.DisplayFor(model => item.CareTransactionID)
                                    </span>
                                    <span style="margin-right: 15px;">
                                        Pending? @Html.DisplayFor(model => item.Pending)
                                    </span>
                                    <span style="margin-right: 15px;">
                                        Confirmed? @Html.DisplayFor(model => item.Confirmed)
                                    </span>
                                </div><!-- END ROW THREE-->
                                <!--==================================================-->

                            </div><!-- END CONTAINER-FLUID + 'my_appt_box' -->
                        }
                    }
                    else
                    {
                        <p style="text-align: center;">
                            you don't have any past appointments yet!
                        </p>
                    }
                </div><!-- end div where id==home -->
            </div><!-- end div where id=Menu1 -->
            <!-------------------------------------------------------------------------->
            <!---->
            <!---->
            <!--                            FINISHED!!!                               -->
            <!--======================================================================-->
            <!------------------------- 3rd TAB => Finished Appts ---------------------->
            <div id="menu2" class="tab-pane fade">
                <div id="home" class="tab-pane fade in active">

                    @if (Model.ApptInfoListFinished.Count() > 0)
                    {
                        foreach (var item in Model.ApptInfoListFinished)
                        {
                            <div class="container-fluid my_appt_box" style="padding: 15px;">

                                <!--============================= ROW ZERO! ==========-->
                                <div class="row" style="margin-bottom: 18px;">

                                    <div class="col-sm-12 col-md-12">

                                        <span style="float:left;">
                                            <!-------------------------------------------------->
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => model.PetName)&nbsp;&nbsp;
                                            </span>
                                            @Html.DisplayFor(model => item.PetName)
                                        </span>
                                        <!------------------------------------------------------>
                                        <span style="float:left; margin-left: 25px;">
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => item.PetOwnerName)&nbsp;&nbsp;
                                            </span>
                                            @Html.DisplayFor(model => item.PetOwnerName)
                                        </span>
                                        <!------------------------------------------------------>
                                        <span style="float:left; margin-left: 25px;">
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => item.PetCarerName)&nbsp;
                                            </span>
                                            @Html.DisplayFor(model => item.PetCarerName)
                                        </span>
                                        <!------------------------------------------------------>
                                    </div>

                                </div><!-- END ROW ZERO -->
                                <!---->
                                <!---->
                                <!--=================================== ROW ONE ======-->
                                <div class="row our_row_one" style="margin-bottom: 18px;">
                                    <!------------------------------- ROW 1 \ COL 1 ---->
                                    <div class="col-sm-1 col-md-1">

                                        <div style="margin-bottom: 5px;">
                                            <span class="our_appt_label">
                                                From:<br />
                                            </span>
                                            @Html.DisplayFor(modelItem => item.StartDate)
                                        </div>

                                        <div>
                                            <span class="our_appt_label">
                                                at:<br />
                                            </span>
                                            @Html.DisplayFor(modelItem => item.StartTime)
                                        </div>

                                    </div><!-- END ROW 1 \ COL 1 -->
                                    <!-------------------------------------------------->
                                    <!---->
                                    <!--------------------------- ROW 1 \ COL 2 -------->
                                    <div class="col-sm-1 col-md-1">

                                        <div style="margin-bottom: 5px;">
                                            <span class="our_appt_label">
                                                To:<br />
                                            </span>
                                            @Html.DisplayFor(modelItem => item.EndDate)
                                        </div>

                                        <div>
                                            <span class="our_appt_label">
                                                at:<br />
                                            </span>
                                            @Html.DisplayFor(modelItem => item.EndTime)
                                        </div>

                                    </div><!-- END ROW 1 \ COL 2 -->
                                    <!---->
                                    <!--------------------------- ROW 1 \ COL 3 -------->
                                    <div class="col-sm-3 col-md-3" style="margin-left: 23px;">

                                        <div>
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => model.NeededThisVisit)<br />
                                            </span>
                                            @Html.DisplayFor(modelItem => item.NeededThisVisit)
                                        </div>

                                    </div><!-- END ROW 1 \ COL 3 -->
                                    <!-------------------------------------------------->
                                    <!---->
                                    <!--------------------------- ROW 1 \ COL 4 -------->
                                    <div class="col-sm-3 col-md-3" style="margin-left: 23px;">

                                        <div>
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => model.CareProvided)<br />
                                            </span>

                                            <!-------- wanna check if null to color it ------->
                                            @*@if ( Model != null && item.CareProvided != null )
                                                {
                                                    <span style="background-color:red;">
                                                        @Html.DisplayFor(modelItem => item.CareProvided)
                                                    </span>
                                                }*@ <!-- this gives no errors but also no results! -->
                                            <!-------------------------------------------------->

                                            @Html.DisplayFor(modelItem => item.CareProvided)
                                        </div>

                                    </div><!-- END ROW 1 \ COL 4 -->
                                    <!-------------------------------------------------->
                                    <!---->
                                    <!----------------------------- ROW 1 \ COL 5 ------>
                                    <div class="col-sm-3 col-md-3" style="margin-left: 23px;">

                                        <div style="margin-bottom: 13px;">
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => model.Charge) &nbsp; $ <br />
                                            </span>
                                            @Html.DisplayFor(modelItem => item.Charge)
                                        </div>

                                        <div style="margin-top: 13px;">
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => model.Tip) &nbsp; $ <br />
                                            </span>
                                            @Html.DisplayFor(modelItem => item.Tip)
                                        </div>

                                    </div><!-- END ROW 1 \ COL 5 -->
                                    <!-------------------------------------------------->
                                </div><!-- END ROW 1 -->
                                <!---->
                                <!---->
                                <!--=============================== ROW TWO ==========-->
                                <div class="row our_row_two" style="margin-bottom: 18px;">

                                    <!--------------------------------- ROW 2 \ COL 1 -->
                                    <div class="col-sm-3 col-md-3">

                                        <div>
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => model.CareReport)<br />
                                            </span>
                                            @Html.DisplayFor(modelItem => item.CareReport)
                                        </div>

                                    </div><!-- END ROW 2 \ COL 1-->
                                    <!-------------------------------------------------->
                                    <!---->
                                    <!--------------------------- ROW 2 \ COL 2 -------->
                                    <div class="col-sm-4 col-md-4" style="margin-left: 45px;">

                                        <div>
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => model.PC_Rating) &nbsp;
                                            </span>
                                            @Html.DisplayFor(modelItem => item.PC_Rating)
                                        </div>

                                        <div>
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => model.PC_Comments)<br />
                                            </span>
                                            @Html.DisplayFor(modelItem => item.PC_Comments)
                                        </div>

                                    </div>
                                    <!-------------------------------------------------->
                                    <!---->
                                    <!---------------------------- ROW 2 \ COL 3 ------->
                                    <div class="col-sm-4 col-md-4" style="margin-left: 45px;">

                                        <div>
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => model.PO_Rating) &nbsp;
                                            </span>
                                            @Html.DisplayFor(modelItem => item.PO_Rating)
                                        </div>

                                        <div>
                                            <span class="our_appt_label">
                                                @Html.DisplayNameFor(model => model.PO_Comments)<br />
                                            </span>
                                            @Html.DisplayFor(modelItem => item.PO_Comments)
                                        </div>

                                    </div><!-- END ROW 2 \ COL 3 -->
                                    <!-------------------------------------------------->
                                </div><!-- END ROW 2 -->
                                <!---->
                                <!---->
                                <!--============================== ROW THREE =========-->
                                <div class="row our_row_three">

                                    <div style="float: right; margin-right: 5px;" >
                                        @Html.ActionLink("Complete Appointment",
                                            "CompleteAppointment",
                                            new { id = item.CareTransactionID },
                                                new { @class="our_buttons",
                                                    style = "color: #f2e6d9; font-weight: normal" })
                                    </div>

                                    <div style="float: right; margin-right: 5px;" >
                                        @Html.ActionLink("Pet's Profile", "PetProfile",
                                            new { controller = "Pets", id = item.PetID },
                                                new { @class="our_buttons",
                                                    style = "color: #f2e6d9; font-weight: normal" })
                                    </div>

                                    <div style="float: right; margin-right: 5px">
                                            @Html.ActionLink("Carer's Profile", "VisitProfile",
                                                new { controller = "ProfilePage", 
                                                      loggedID = item.PetCarerPetopiaID },
                                                new { @class = "our_buttons", 
                                                    style = "color:#f2e6d9; font-weight:normal;" })
                                    </div>

                                    <!-- for testing during initial setup -->
                                    <span style="margin-right: 15px; display:none;">
                                        ct_id? @Html.DisplayFor(model => item.CareTransactionID)
                                    </span>
                                    <span style="margin-right: 15px;">
                                        Pending? @Html.DisplayFor(model => item.Pending)
                                    </span>
                                    <span style="margin-right: 15px;">
                                        Confirmed? @Html.DisplayFor(model => item.Confirmed)
                                    </span>

                                </div><!-- END ROW THREE-->
                                <!--==================================================-->
                            </div><!-- END CONTAINER-FLUID + 'my_appt_box' -->
                        }
                    }
                    else
                    {
                        <p style="text-align: center;">
                            you don't have any finished appointments yet!
                        </p>
                    }
                </div><!-- end div where id==home -->
            </div><!-- end div where id=Menu2 -->
            <!-------------------------------------------------------------------------->
            <!---->
            <!---->
        </div><!-- END OF TAB CONTENT THING -->
    }
    else
    { 
        <h5> you are not this pet's owner! </h5>

        <div class="debugging_shit" style="display:none;">
            <p> thisPetID = @thisPetID </p>
            <p> thisPetsOwnersID = @thisPetsOwnersID </p>
            <p> thisPetsOWnersPetopiaUserID = @thisPetsOwnersPetopiaUserID </p>
            <p> thisPetsOwnersASPNetIdentityID = @thisPetsOwnersASPNetIdentityID </p>
            <p> thisLoggedInUser = @thisLoggedInUser </p>
        </div>
    }
    <!--==============================================================================-->
</div><!-- END CONTAINER-FLUID -->
<!--==================================================================================-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<!--==================================================================================-->