@{
    ViewBag.Title = "What does Petopia do?";
}

<!--==================================================================================-->
    <div class="container-fluid about_hero">

        <div class="container-fluid about_title">
            <h1>@ViewBag.Title</h1>
            <h3>@ViewBag.Message_PO</h3>
            <h3>@ViewBag.Message_PCP</h3>
            <h4> <em>(keep scrolling!)</em>  &nbsp;&nbsp;&nbsp; &darr;&darr;&darr;</h4>
        </div>

    </div>

    <!--==============================================================================-->

    <div class="container-fluid about_content">

        <h3>
            Petopia is for <em>all</em> kinds of pets!
        </h3>

        <p>
            dogs, cats, bunnies, guinea-pigs, ferrets, birds, reptiles,
            pet pigs..... and other small furry (or non-furry!) pets!
        </p>

        <br />
        <!--==========================================================================-->
        <br />

        <h3>
            And for all kinds of Pet Owners!
        </h3>

        <h4>Do you need someone to:</h4>
        <ul>
            <li>come in and feed your pets?</li>
            <li>Give them some water to drink?</li>
            <li>Let them out and back in?</li>
            <li>Take them for a walk or ride?  </li>
            <li>Come in and give meds while you're at work? </li>
            <li>
                Is your pet elderly, or living with a chronic illness,
                and needs checking up on (or maybe cleaning up after) during the day?
            </li>
            <li>Are you trying to house-train your puppy? </li>
            <li>Helping your pet overcome separation anxiety?</li>
            <li>
                Need someone to take your pet to the vet?
                (routine visits only)
            </li>
            <li>To the dog-park? </li>
            <li>To the pet day-care? </li>
            <li> To the groomer's? </li>
            <li>
                Need someone to run after your pet food or supplies
                and leave them at your home?
            </li>
        </ul>

        <br />

        <h4>How it works for you:</h4>

        <ul>
            <li>
                Register for an account with us, and designate yourself as a "Pet Owner".
                <br /><br />
            </li>

            <li>
                You'll then get to fill out profile details for yourself and your pet(s).
                Don't have time right now?  Come back and fill in your details later when
                you can have some fun with it.
                <br /><br />
            </li>

            <li>
                Your pet(s)' profile(s) will be visible from within your profile.
                Be sure to put in everything that your Pet Care Provider would need or want
                to know when caring for your pet!
                <br /><br />
            </li>

            <li>
                You can come back and edit or update your or your pet(s)' details any time
                you like, or add new photos of your pets!
                <br /><br />
            </li>

            <li>
                Once you have your profile details filled out, you'll be taken to your
                profile page.  On the right-hand side, you'll see a listing of all
                Pet Care Providers in your area who are experienced caring for your type
                of pet!  On their card you'll see their profile photo, name, and
                "badges" for what kind of pet(s) they're experienced with.  Click on
                their card, and you can check out their full profile.
                <br /><br />
            </li>

            <li>
                Once you find one you are interested in, send them a private message from
                inside Petopia, to protect your private information.  Once you decide this
                is the one for you and your pet, you can make arrangements with them for the
                services you and your pet need.
                <br /><br />
            </li>

            <li>
                You can see a Pet Care Provider's schedule information from their profile,
                to see if they are available when you need them.  Their rate information is
                also posted here.  Payments are also handled from inside Petopia for you!
                <br /><br />
            </li>

            <li>
                You can rate your Pet Care Provider each time they provide service for
                your pet, and see their cumulative ratings from all past care
                transactions.
                <br /><br />
                Please remember to rate your provider -- these ratings help other Pet
                Owners like you know they can trust this provider with their beloved pet!
                <br /><br />
                Did your Pet Care Provider do something to "go the extra mile?"  For
                instance, did they find your pet had left an unexpected mess in your
                home, and clean it up for you instead of just leaving it?
                <br /><br />
                You can also let other Pet Owners know if a provider is on-time or not,
                (or if they forgot to arrive!), if they check-in as arranged, if they
                gave good feed-back on their viist.
                <br /><br /><br />
            </li>

            <li>
                Your Pet Care Provider can also check in with you during and after providing
                care for your pet!  Would you like to know for sure that your pet's provider
                arrived?  That your sweet pet got their meds, or dinner, or let out/in, or
                exercised on time?   Taken to and returned from their appointment?  With
                Petopia, your provider can check in with this information and it will be
                sent via the route you choose in real-time.
                <br /><br />
            </li>

            <li>
                The check-in notes your Pet Care Provider leaves, will become part of
                your pet's record -- so if you need to have a different provider for
                subsequent care visits, the new provider will have access to helpful
                notes about your pet.
                <br /><br />
            </li>

            <li>
                And while you're here, participate in Petopia's social side!  The forum
                and private messaging plus notices of pet meet-ups can help you find a
                friend for you and your furry best friend!
                <br /><br />
            </li>
        </ul>

        <div class="any_questions">
            @Html.ActionLink("Any Questions?", "Contact", "Home")
        </div>

        <br />
        <!--==========================================================================-->
        <br />

        <h3>
            Wanna be a Pet Care Provider?
        </h3>

        <h4> Love pets and could use a fun side-hustle?</h4>
        <h4> What you need to do, then: </h4>

        <ul>
            <li>
                Register for an account with us, and designate yourself as a
                "Pet Care Provider".
                <br /><br />
            </li>

            <li>
                You'll then get to fill out profile details for yourself.
                Don't have time right now?  Come back and fill in your details later
                when you can have some fun with it.
                <br /><br />
            </li>

            <li>
                You can come back and edit or update your details any time you like,
                add new photos, "badges" for types of pets you take care of, or
                descriptions of your experience & qualifications.
                <br /><br />
            </li>

            <li>
                Once you have your profile details filled out, you'll be taken to your
                profile page to review it.  But, before you can "go live" and accept
                care assignments, you'll have to complete a background report.  This
                will be reflected on your profile so Pet Owners know you're trust-worthy
                to care for their special pets in their home!
                <br /><br />
            </li>

            <li>
                Once everything has cleared, you'll be good to go.  Just indicate on
                your scheduler the days and times you are available, so Pet Owners can
                see it.
                <br /><br />
            </li>

            <li>
                When a Pet Owner contacts you via private message from within Petopia,
                the two of you can get to know each other a little bit and settle any
                outstanding details, and you can get the instructions you'll need in
                order to complete your pet care assignment.
                <br /><br />
            </li>

            <li>
                Once each assignment is complete, the Pet Owner will be sent an invoice,
                and payments will go directly to you!
                <br /><br />
            </li>

            <li>
                Just as Pet Owners can rate you and your service, you can also rate the
                Pet Owner.  Did they not pay in a timely fashion?  Were there hazards
                left that impeded your ability to care for their pet?  Things not as
                they'd been explained to you?
                <br /><br />
                Conversely (and hopefully!) was your Pet Owner and the Pet you cared for
                a lot of fun and just as described?  Did the Pet Owner do something nice
                to make your job a little easier?  Leave you a special treat?
                <br /><br />
                Either way, let other Pet Care Providers know what they're in for!
                <br /><br /><br />
            </li>

            <li>
                You can use check-ins as arranged with the Pet Owner, and add another
                level of customer service to boost your ratings (and possibly get an
                extra treat next time!)
                <br /><br />
                Let your Pet Owner know that their pet got their meds, food, exercise,
                made it to and from their appointment or play-date okay, and if they
                did anything during this time their owner may like or need to know about.
                <br /><br />
                You can check in with the Pet Owner during and/or after your care visit
                -- however you arranged it with your Pet Owner, or when/if there is
                something you feel they should know right away.  They will get your
                check-in details via their device in real-time!
                <br /><br /><br />
            </li>

            <li>
                Your check-in information will stay on that Pet's record -- this way
                you can leave helpful notes for the next Pet Care Provider, if it's
                not you!
                <br /><br />
            </li>

            <li>
                And while you're here, participate in Petopia's social side!  The forum
                and private messaging plus notices of pet meet-ups can help you find a
                friend for you and your furry best friend!
                <br /><br />
            </li>
        </ul>

        <p>
            Then just wait to be matched up with pets and their owners!
        </p>

        <h3 style="text-align: center; color: #4d004d;">
            Yes, you can be both  a Pet Owner, and a Pet Care Provider!
        </h3>

        <br />
        <!--==========================================================================-->
        <br />

        <div class="any_questions">
            @Html.ActionLink("Any Questions?", "Contact", "Home")
        </div>

        <br />
        <!--==========================================================================-->
        <br /><br /><hr />

        <h3>
            The team behind Petopia...
        </h3>

        <h4> Three computer science students who wanted an awesome project for
        their senior capstone project!</h4>

        <ul>
            <li>
                Tricia Holman &rarr; Petopia originated from a "Dog Walking Database""
                project at Chemeketa in their CIS degree program... then for Systems
                Analysis, I came up with the initial plans to make it a web app.
                <br /><br />
                I kept wanting to implement it, but didn't have time for something of
                this scale while working on a bachelor's at Western.
                Plus, there were some things I wasn't sure how to implement -- either in
                code, or I just wasn't sure how to make it real yet.
                <br /><br />
                Enter Senior Sequence, and Team Nerdvana!  Now we have the time
                <b>assigned</b> to us!  Joey &amp; Corrin have fantastic ideas
                for implementing the parts I wasn't sure what to do with in the
                coolest ways possible -- they're awesome.   [=
                <br /><br /><br />
            </li>
            <li>
                Corrin Moser &rarr; 
                <br /><br />
            </li>
            <li>
                Joseph Tavares &rarr; 
                <br /><br />
            </li>
        </ul>
        <br />
        <p>
            It's one of us you'll get if you ask for tech support, and for now, even 
            when you ask any other question!
        </p>
        <p>
            You can also email us to let us know what you think of Petopia -- what do 
            you like?  what could be better? are there any new features you'd like to 
            see us figure out to make things more fun?
        </p>

        <!--==========================================================================-->

    </div><!-- end 'about_content' div -->
    <!--==============================================================================-->
