@{
    ViewBag.Title = "What does Petopia do?";
}

<!--==================================================================================-->
    <div class="container-fluid about_hero">

        <div class="container-fluid about_title">
            <h1>@ViewBag.Title</h1>
            <h3>@ViewBag.Message_PO</h3>
            <h3>@ViewBag.Message_PCP</h3>
            <h4> <em>(keep scrolling!)</em>  &nbsp;&nbsp;&nbsp; &darr;&darr;&darr;</h4>
        </div>

    </div>
    <!--==============================================================================-->
    <!--================================= ROW ONE ====================================-->
    <div class="container-fluid about_content">

        <div class="row about_for">
            <h3>
                Petopia is for <em>all</em> kinds of pets!
            </h3>
            <p>
                dogs, cats, bunnies, guinea-pigs, ferrets, birds, reptiles,
                pet pigs..... and other small furry (or non-furry!) pets!
            </p>
            <h3>
                And for all kinds of Pet Owners!
            </h3>
            <p>
                Click to toggle a section and find out more!
            </p>
        </div><!-- end 1st row + 'about_for' -->
        <!--==========================================================================-->
        <!--============================= ROW TWO ====================================-->
        <div class="row panel-group" id="accordion_01">

            <!-- [do you need someone to?] -->
            <div class="panel our_panel_01">

                <a data-toggle="collapse" data-parent="#accordion_01" href="#collapse_01">
                    <div class="panel-heading our_panel_heading">
                        <div class="panel-title our_panel_title">
                            <p class="our_panel_p">
                                Do you need someone to.....
                                <span class="glyphicon glyphicon-resize-vertical"
                                      style="float: right;">
                                </span>
                            </p>
                        </div><!-- end 'panel-title'\'our_panel_title' div -->
                    </div><!-- end 'panel-heading'\'our_panel_heading' div -->
                </a><!-- end '#accordian_01' id + '#collapse_01' href -->

                <div class="panel-collapse collapse" id="collapse_01">
                    <div class="panel-body">
                        <ul>
                            <li>come in and feed your pets?</li>
                            <li>Give them some water to drink?</li>
                            <li>Let them out and back in?</li>
                            <li>Take them for a walk or ride?  </li>
                            <li>Come in and give meds while you're at work? </li>
                            <li>
                                Is your pet elderly, or living with a chronic illness,
                                and needs checking up on (or maybe cleaning up after)
                                during the day?
                            </li>
                            <li>Are you trying to house-train your puppy? </li>
                            <li>Helping your pet overcome separation anxiety?</li>
                            <li>
                                Need someone to take your pet to the vet?
                                (routine visits only)
                            </li>
                            <li>To the dog-park? </li>
                            <li>To the pet day-care? </li>
                            <li> To the groomer's? </li>
                            <li>
                                Need someone to run after your pet food or supplies
                                and leave them at your home?
                            </li>
                        </ul>
                    </div><!-- end 'panel-body' div -->
                </div><!-- end 'panel-collapse'/'collapse' div + 'collapse_01' id-->
            </div><!-- end 'panel'\'our_panel_01' divs [do you need someone to?] -->
            <!--======================================================================-->
            <!-- [how it works\pet owners] -->
            <div class="panel our_panel_01">

                <a data-toggle="collapse" data-parent="#accordion_01" href="#collapse_02">
                    <div class="panel-heading our_panel_heading">
                        <div class="panel-title our_panel_title">
                            <p class="our_panel_p">
                                How Petopia works for Pet Owners:
                                <span class="glyphicon glyphicon-resize-vertical"
                                      style="float: right;">
                                </span>
                            </p>
                        </div><!-- end 'panel-title'\'our_panel_title' div -->
                    </div><!-- end 'panel-heading'\'our_panel_heading' div -->
                </a><!-- end '#accordian_01' id + '#collapse_02' href -->

                <div class="panel-collapse collapse" id="collapse_02">
                    <div class="panel-body">
                        <ul><!-- FOR PET OWNERS! -->
                            <li>
                                <b>Register:</b> <br />
                                Register for an account with us, and designate yourself
                                as a "Pet Owner".
                                <br /><br /><br />
                            </li>
                            <li>
                                <b>Your Profile -- and your Pet(s):</b> <br />
                                Then you'll get to fill out profile details for yourself
                                and your pet(s).
                                <br /><br />
                                Don't have time right now?  Come back and fill in your
                                details later when you can have some fun with it.
                                <br /><br />
                                Your pet profile(s) will be summarized in "card(s)" on
                                your profile -- you can click a card to go to that pet's
                                full profile, and/or access their care record with us.
                                <br /><br />
                                Be sure to put in everything that your Pet Care Provider
                                would need or want to know so they can take the best
                                care of your pet!
                                <br /><br />
                                You can come back and edit or update your own or your pet
                                details any time you like!
                                <br /><br /><br />
                            </li>
                            <li>
                                <b>Your Account:</b> <br />
                                The account information you provide does not and will
                                not appear on your profile, so don't worry!
                                <br /><br />
                                When you contract with a Pet Care Provider to care for
                                your pet, we will provide them with the contact and
                                access information you supplied so that they can do
                                what they need to do to care for your pet.
                                <br /><br /><br />
                            </li>
                            <li>
                                <b>Badges:</b> <br />
                                When you fill out your profile information, you'll be
                                assigned a little badge for each kind of pet you have,
                                that will be displayed on your profile page.
                                <br /><br />
                                This way other users will know at a glance what kind of
                                pets you have!
                                <br /><br /><br />
                            </li>
                            <li>
                                <b>Finding a Pet Carer &amp; Arranging for Care:</b>
                                <br />
                                Once you have your profile and account details filled
                                out, you'll be taken to your profile page.
                                <br /><br />
                                On the right-hand side, you'll see a listing of all Pet
                                Care Providers in your area who are experienced caring
                                for your type of pet!
                                <br /><br />
                                Each one will have a card, with their name, photo, and
                                badges for the kinds of pets they're experienced with.
                                <br /><br />
                                Click on their card to check out their full profile! 
                                There you can see more details about their experience 
                                and they types of care they provide.  Use our Private 
                                Messaging system to get to know each other!
                                <br /><br /><br />
                            </li>
                            <li>
                                <b>Scheduling &amp; Calendars:</b> <br />
                                From a Pet Care Provider's profile, you can view their
                                schedule information, to see if their availability
                                matches with your needs.
                                <br /><br />
                                You can request to schedule them from the open times 
                                on their schedule/calendar.
                                <br /><br /><br />
                            </li>
                            <li>
                                <b>Check-Ins &amp; End-of-Visit Notes:</b> <br />
                                Your Pet Care Provider can do "Check-Ins" so you know
                                what is going on with your pet!
                                <br /><br />
                                You can get check-ins when they arrive, when they leave,
                                and for other points as arranged between you -- that
                                your pet got it's meds, dinner, walk or play-time,
                                let in/out, picked up or dropped off -- whatever care
                                you have arranged -- and Petopia can send you Check-In
                                alerts in real time!
                                <br /><br />
                                Also, at the end of each Pet Care visit, your Pet Care 
                                Provider will fill in notes about the visit -- how things
                                 went and anything you may need or want to know about 
                                your Pet(s) to know they were happy &amp; well-cared-for.
                                <br /><br />
                                Check-Ins &amp; End-of-Visit Notes will become part of 
                                your Pet's "Permanent Care Record" with Petopia that 
                                you (or they) can review at any time.
                                <br /><br />
                                This way -- whether your pet care alternates between 
                                Providers or is always with the same one -- they will 
                                always have access to helpful notes so they can take 
                                the best care of your Pet.
                                <br /><br /><br />
                            </li>
                            <li>
                                <b>Private Messaging:</b> <br />
                                You can Private Message with any other user at any 
                                time..... <br />
                                but we recommend that all communication between you and 
                                your Pet's Care Provider(s), regarding the care of your 
                                Pet(s), be done via Petopia's in-app Private Messaging 
                                system.
                                <br /><br />
                                This way you'll be able to quickly &amp; easily find any  
                                communications, if need be, about the care of your Pet(s) 
                                -- all in one secure place!
                                <br /><br />
                                The difference between Private Messaging and Check-Ins,
                                is that Private Messaging is just that -- private.....
                                while Check-Ins will become part of a Pet's "Permanent
                                Record" along with end-of-visit care notes.
                                <br /><br /><br />
                            </li>
                            <li>
                                <b>Ratings:</b> <br />
                                You're highly encouraged to rate your Pet Care Provider
                                each time they provide care for your Pet(s) -- add to
                                their overall rating that shows on their profile!
                                <br /><br />
                                Remember that these ratings help other Pet Owners like
                                you know they can trust this provider with their own
                                beloved Pet -- and help good Pet Carers get more work!
                                <br /><br />
                                Be sure to mention if your Pet Care Provider went "the
                                extra mile" for you and your Pet!
                                <br /><br />
                                Pet Care Providers can rate you, too..... ensure good 
                                ratings for yourself by being sure to inform your Pet 
                                Care Provider of everything they may need to know to 
                                care for your Pet, and paying on time.
                                <br /><br /><br />
                            </li>
                            <li>
                                <b>Paying for your Pet Care:</b> <br />
                                Each Pet Care Provider lists their rates on their 
                                profile, so you know right up-front what things will 
                                cost.  You are free to add a tip for above-and-beyond 
                                service to say thanks!
                                <br /><br />
                                The actual payment process is handled from inside the 
                                Petopia app, and you will be emailed an invoice to to 
                                facilitate payment, and then a receipt for your records 
                                -- which are also available from your 
                                Petopia account.
                                <br /><br /><br />
                            </li>
                            <li>
                                <b>Social\Forum:</b> <br />
                                While you're here, have some fun and participate in 
                                Petopia's social side!  Our forum and private messaging, 
                                plus notices of pet-related events and meet-ups, can 
                                help you find a friend for yourself and your furry best 
                                friend!
                                <br /><br />
                                You can add other users as friends, and easily contact 
                                them from your Friends List on your profile!
                                <br /><br /><br />
                            </li>
                            <!--======================================================-->
                        </ul>

                        <div class="any_questions">
                            @Html.ActionLink("Any Questions?", "Contact", "Home")
                        </div>
                    </div><!-- end 'panel-body' div -->
                </div><!-- end 'panel-collapse'\'panel' div's + '#collapse_02' id -->
            </div><!-- end 'panel'\'our_panel_01' divs + [how it works\pet owners] -->
            <!--==========================================================================-->
            <!-- [ how it works\pet carers == Pet Care Providers ] -->
            <div class="panel our_panel_01">

                <a data-toggle="collapse" data-parent="#accordion_01" href="#collapse_03">
                    <div class="panel-heading our_panel_heading">
                        <div class="panel-title our_panel_title">
                            <p class="our_panel_p">
                                Would you like to be a Pet Care Provider?
                                <span class="glyphicon glyphicon-resize-vertical"
                                      style="float: right;">
                                </span>
                            </p>
                            <p style="padding-left: 13px; margin-bottom: 0;">
                                Love pets and want a rewarding side-hustle? <br />
                                Here's how it works for you:
                            </p>
                        </div><!-- end 'panel-title'\'our_panel_title' div -->
                    </div><!-- end 'panel-heading'\'our_panel_heading' div -->
                </a><!-- end '#accordian_01' id + '#collapse_03' href -->

                <div class="panel-collapse collapse" id="collapse_03">
                    <div class="panel-body">
                        <ul><!-- FOR PET CARERS! -->
                            <li>
                                <b>Register:</b><br />
                                Register for an account with us, and designate yourself
                                as a "Pet Care Provider".
                                <br /><br /><br />
                            </li>
                            <li>
                                <b>Your Profile -- and your Pet(s):</b><br />
                                Then you'll get to fill in the profile details for you
                                and your Pet(s).
                                <br /><br />
                                Don't have time right now?  Don't worry -- come back
                                later and do your details when you can have some fun
                                with it.
                                <br /><br />
                                Your Pet profile(s) will be shown in summary form, on
                                "card(s)" on your own profile -- click a card to go to
                                that Pet's full profile!
                                <br /><br />
                                You can come back and edit or update your details any
                                time you like -- add badges, pets, and any new experience
                                &amp; qualifications you get.
                                <br /><br /><br />
                            </li>
                            <li>
                                <b>Your Account:</b><br />
                                The account information you provivde does not and will
                                not appear on your profile, so no worries!
                                <br /><br />
                                When you contract with a Pet Owner to care for their pet,
                                we will provide them with the contact information you
                                supplied so they know how to reach you and that you are
                                a real person.
                                <br /><br /><br />
                            </li>
                            <li>
                                <b>Badges:</b> <br />
                                When filling out your profile information, you'll get to
                                incidate which pets you're experienced with and wish
                                to provide care for.
                                <br /><br />
                                For each pet you pick, a little badge will appear on
                                your profile so Pet Owners can see at a glance the pets
                                you work with!
                                <br /><br /><br />
                            </li>
                            <li>
                                <b>Providing Pet Care:</b><br />
                                Once you have your profile details filled out, you'll be
                                taken to your profile page to review it.
                                <br /><br />
                                But, before you can "go live" and accept Pet Care
                                assignments..... you'll have to (successfully!) complete
                                and pass a background check.  This will show on your
                                profile so that Pet Owners know you're "vetted" and
                                trust-worthy to care for their special pets in their
                                home!
                                <br /><br />
                                Once everything has cleared, you'll be good to go.
                                Just indicate on your schedule\calendar, the days and
                                times you're available, so Pet Owners can see it.  Then
                                just wait to be matched up with Pets and their Owners!
                                <br /><br />
                                When a Pet Owner contacts you via private message from
                                within Petopia, the two of you can get to know each other
                                a little and settle any outstanding details -- and you'll
                                get the instructions you'll need in order to complete
                                your pet care assignment.
                                <br /><br /><br />
                            </li>
                            <li>
                                <b>Scheduling &amp; Calendars:</b> <br />
                                When you initially set up your profile, mark on your
                                schedule\calendar the days &amp; times you're
                                available to provide Pet Care.
                                <br /><br />
                                You can update your availability at any time, and your
                                changes will be reflected in real time.
                                <br /><br />
                                Your calendar will be visible on your profile for Pet 
                                Owners to see when you're open.  This will just add one 
                                more layer of "easy" for Pet Owners to know if you're 
                                the one for them!
                                <br /><br />
                                Pet Owners can click on a block of time to reserve that 
                                spot for you to care for their Pet.
                                <br /><br /><br />
                            </li>
                            <li>
                                <b>Check-Ins &amp; End-of-Visit Notes:</b> <br />
                                Let your Pet Owner know what's up with their Pet!
                                <br /><br />
                                Check-In when you arrive and leave, and any other points
                                as arranged between you and your Pet Owner -- when the
                                Pet got it's meds, dinner, walk or play-time, let in/out,
                                picked up or dropped off -- whatever care you're doing --
                                and Petopia will send the Pet Owner Check-In alerts in
                                real time!
                                <br /><br />
                                At the end of each Pet Care visit, be sure to fill in 
                                any notes about the visit -- how things went and anything
                                 the Pet Owner may need or want to know about their 
                                Pet(s) to know they were happy &amp; well-cared-for.
                                <br /><br />
                                Your Check-Ins &amp; End-of-Visit Notes will become part 
                                of a Pet's "Permanent Care Record" with Petopia that the 
                                Pet Owner and you or other Pet Care Providers can review 
                                at any time.
                                <br /><br />
                                This way -- no matter who takes care of a given Pet -- 
                                they'll always have access to helpful notes so they can 
                                take the best care of the Pet that they can.
                                <br /><br />
                                Remember that following good Check-In practices will
                                help to improve your ratings, so that you are more
                                likely to get more Pet Care work!
                                <br /><br /><br />
                            </li>
                            <li>
                                <b>Private Messaging:</b> <br />
                                You can Private Message with any other user at any
                                time.....<br />
                                but we recommend that all communication between you and
                                your Pet Owners, regarding the care of their Pet(s), be
                                done via Petopia's in-app Private Messaging system.
                                <br /><br />
                                This way you'll be able to quickly &amp; easily find any
                                communications, if need be, about the care you do for
                                Pets -- all in one secure place!
                                <br /><br />
                                The difference between Private Messaging and Check-Ins,
                                is that Private Messaging is just that -- private.....
                                while Check-Ins will become part of a Pet's "Permanent
                                Record" along with any end-of-visit care notes,
                                accessible to you and any other Pet Care Providers plus
                                the Pet's Owner.
                                <br /><br /><br />
                            </li>
                            <li>
                                <b>Ratings:</b><br />
                                Just as Pet Owners can rate you and your service, you
                                can also rate Pet Owners.
                                <br /><br />
                                You're highly encouraged to rate your Pet Owners each
                                time you provide care for their Pet(s) -- add to their
                                overall rating that shows on their profile!
                                <br /><br />
                                Remember that these ratings help other Pet Care
                                Providers like you know that a Pet Owner is good to work
                                with.
                                <br /><br />
                                Be sure to mention if a Pet Owner went out of their way
                                to help you give good care for their Pet(s)!
                                <br /><br />
                                Ensure good ratings for yourself by always being on-time,
                                providing the care agreed to with TLC as if it's your own
                                 pet, and leaving good Check-Ins and after-visit notes.
                                <br /><br /><br />
                            </li>
                            <li>
                                <b>Getting Paid for your Pet Care:</b> <br />
                                You can list your rates on your profile, so that Pet
                                Owners know up-front how much to expect to pay.  They
                                are free to tip for above-and-beyond service!
                                <br /><br />
                                Once each Pet Care assignment is complete, the Pet Owner
                                will be sent an invoice, and payments will be handled
                                from inside the Petopia app, and go directly to you!
                                <br /><br />
                                Your payment records will be available from your 
                                Petopia account.
                                <br /><br /><br />
                            </li>
                            <li>
                                <b>Social\Forum:</b> <br />
                                While you're here, have some fun and participate in 
                                Petopia's social side!  Our forum and private messaging, 
                                plus notices of pet-related events meet-ups, can help you
                                 find a friend for you and your furry best friends!
                                <br /><br /><br />
                            </li>
                            <!--======================================================-->
                        </ul>

                        <div class="any_questions">
                            @Html.ActionLink("Any Questions?", "Contact", "Home")
                        </div>

                    </div><!-- end 'panel-body' div -->
                </div><!-- end 'panel-collapse'\'collapse' divs + '#collapse_03' id -->
            </div><!-- end 'panel'\'our_panel_01' div + [wanna be PCP?] -->
            <!--======================================================================-->
            <!-- [communication: PO\PCP] -->
            <div class="panel our_panel_01">

                <a data-toggle="collapse" data-parent="#accordion_01" href="#collapse_04">
                    <div class="panel-heading our_panel_heading">
                        <div class="panel-title our_panel_title">
                            <p class="our_panel_p">
                                Communication between Pet Owners and Care Providers
                                <span class="glyphicon glyphicon-resize-vertical"
                                      style="float: right;">
                                </span>
                            </p>
                        </div><!-- end 'panel-title'\'our_panel_title' div -->
                    </div><!-- end 'panel-heading'\'our_panel_heading' div -->
                </a><!-- end '#accordian_01' id + '#collapse_04' href -->

                <div class="panel-collapse collapse" id="collapse_04">
                    <div class="panel-body">
                        <p>
                            We recommend keeping communications between Pet Owners and 
                            Pet Care Providers, that is specifically about a Pet and it's
                             care within Petopia -- within our Private Messaging
                            and Check-In features. <br />
                            <br />
                            This way there will be a record all in one secure place for 
                            quick &amp; easy reference for both parties, if need be.
                            <br /> <br />
                            And Pet Care Providers -- don't forget to leave good 
                            end-of-visit notes after each Pet Care assignment!
                            <br /><br />
                            While Private Messages stay prviate, Check-Ins and end-of-
                            visit notes become part of a Pet's "Permanent Record", 
                            accessible to their Owner and any Care Providers who take 
                            care of them.
                            <br /><br />
                            These things will help subsequent care for a given Pet go 
                            as smoothly as possible, whether by the same Pet Care 
                            Provider or different ones!<br />
                        </p>
                    </div><!-- end 'panel-body' div -->
                </div><!-- end 'panel-collapse'/'collapse' div + '#collapse_01' id-->
            </div><!-- end 'panel'\'our_panel_01' divs + [communication: PO\PCP] -->
        </div><!-- END ROW TWO *AND* 'panel-group' div *AND* '#Accordian_01' id -->
        <!--==========================================================================-->
        <!--============================== ROW THREE =================================-->
        <div class="row">
            <h3 style="text-align: center; color: #990000;">
                Yes, you can be both a Pet Owner, and a Pet Care Provider!
            </h3>
        </div><!-- END ROW THREE -->
        <!--==========================================================================-->
        <!--============================== ROW FOUR ==================================-->
        <!-- [Your Info] -->
        <div class="row your_info">
            <h3> What we do with your info + why we need it: </h3>

            <div class="panel-group" id="accordion_02">

                <div class="panel our_panel_01">

                    <a data-toggle="collapse" data-parent="#accordion_02"
                       href="#collapse_PI">
                        <div class="panel-heading our_panel_heading">
                            <div class="panel-title our_panel_title">
                                <p class="our_panel_p">
                                    Your profile information:
                                    <span class="glyphicon glyphicon-resize-vertical"
                                          style="float: right;">
                                    </span>
                                </p>
                            </div><!-- end 'panel-title'\'our_panel_title' divs -->
                        </div><!-- end 'panel-heading'\'our_panel_heading' divs -->
                    </a><!-- end '#accordian_02' id + '#collapse_PI' href -->

                    <div class="panel-collapse collapse" id="collapse_PI">
                        <div class="panel-body"><!-- PROFILE -->
                            <p>
                                The profile information you fill out at Petopia is what
                                will actually be shown on your public profile with us.
                            </p>
                            <p>
                                So have as much fun as you like -- make it silly, make
                                it thoughtful or inspirational, make it whatever you 
                                like..... but please keep it nice!
                            </p>
                            <p>
                                In other words -- imagine your Grandma might be reading
                                it.   [=
                            </p>
                        </div><!-- end 'panel-body' div -->
                    </div><!-- end 'panel'\'panel-collapse' div + '#collapse_PI' id -->
                </div><!-- end 'panel'/our_panel_01' div -->
                <!--==================================================================-->
                <div class="panel our_panel_01">

                    <a data-toggle="collapse" data-parent="#accordion_02"
                       href="#collapse_AI">
                        <div class="panel-heading our_panel_heading">
                            <div class="panel-title our_panel_title">
                                <p class="our_panel_p">
                                    Your account information
                                    <span class="glyphicon glyphicon-resize-vertical"
                                          style="float: right;">
                                    </span>
                                </p>
                            </div><!-- end 'panel-title'\'our_panel_title' divs -->
                        </div><!-- end 'panel-heading'\'our_panel_heading' divs -->
                    </a><!-- end '#accordian_02' id + '#collapse_AI' href -->

                    <div class="panel-collapse collapse" id="collapse_AI">
                        <div class="panel-body"><!-- ACCOUNT -->
                            <p>
                                The account information you fill out at Petopia will
                                <b>not</b> appear on your profile -- it is confidential
                                with Petopia.
                            </p>
                            <p>
                                <b>For Pet Owners:</b><br />
                                When you select a Pet Care Provider and arrange for
                                Pet Care with them, only then will Petopia share your
                                contact and access information with that Provider, so
                                that they can fulfill your Pet Care needs in the best 
                                way for your Pet(s)!
                            </p>
                            <br /><br />
                            <p>
                                <b>For Pet Care Providers:</b><br />
                                When you agree to providve Pet Care services for a Pet
                                Owner, we will share your contact information with them 
                                so they can contact you and know you're a real person!
                            </p>
                        </div><!-- end 'panel-body' div -->
                    </div><!-- end 'panel-collapse'/'collapse' div+'#collapse_AI' id -->
                </div><!-- end 'panel'\'our_panel_01' divs -->
            </div><!-- end 'panel-group' div + '#accordian_02' id -->
        </div><!-- END ROW FOUR *AND* 'panel-group' div + 'your_info' div -->
        <!--==========================================================================-->
        <!--============================= ROW FIVE ===================================-->

        <div class="row about_team">
            <hr />
            <h3> The team behind Petopia... </h3>

            <h4>
                Three computer science students who wanted an awesome project for
                their senior capstone project!
            </h4>
            <!--======================================================================-->
            <div class="panel-group" id="accordion_03">

                <div class="panel our_panel_01">

                    <a data-toggle="collapse" data-parent="#accordion_03"
                       href="#collapse_TH">
                        <div class="panel-heading our_panel_heading">
                            <div class="panel-title our_panel_title">
                                <p class="our_panel_p">
                                    Tricia Holman
                                    <span class="glyphicon glyphicon-resize-vertical"
                                          style="float: right;">
                                    </span>
                                </p>
                            </div><!-- end 'panel-title'\'our_panel_title' divs -->
                        </div><!-- end 'panel-heading'\'our_panel_heading' divs -->
                    </a><!-- end '#accordian_03' id + '#collapse_TH' href -->

                    <div class="panel-collapse collapse" id="collapse_TH">
                        <div class="panel-body">
                            <p>
                                Petopia originated from a "Dog Walking Database""
                                project at Chemeketa in their CIS degree program...
                                then for Systems Analysis, I came up with the initial
                                plans to make it a web app.
                            </p>
                            <p>
                                I kept wanting to implement it, but didn't have time
                                for something of this scale while working on a bachelor's
                                at Western.  Plus, there were some things I wasn't sure
                                how to implement -- either in code, or I just wasn't sure
                                how to make it real yet.
                            </p>
                            <p>
                                Enter Senior Sequence, and Team Nerdvana!
                                Now we have the time <b>assigned</b> to us!  Joey &amp;
                                Corrin have fantastic ideas for implementing the parts I
                                wasn't sure what to do with in the coolest way possible
                                -- they're awesome.   [=
                            </p>
                        </div><!-- end 'panel-body' div -->
                    </div><!--end 'panel-collapse'\'collapse' div + '#collapse_TH' id -->
                </div><!-- end 'panel'\'our_panel_01' div -->
                <!--==================================================================-->
                <div class="panel our_panel_01">

                    <a data-toggle="collapse" data-parent="#accordion_03"
                       href="#collapse_CM">
                        <div class="panel-heading our_panel_heading">
                            <div class="panel-title our_panel_title">
                                <p class="our_panel_p">
                                    Corrin Moser
                                    <span class="glyphicon glyphicon-resize-vertical"
                                          style="float: right;">
                                    </span>
                                </p>
                            </div><!-- end 'panel-title'\'our_panel_title' divs -->
                        </div><!-- end 'panel-heading'\'our_panel_heading' divs -->
                    </a><!-- end '#accordian_03' id + '#collapse_CM' href -->

                    <div class="panel-collapse collapse" id="collapse_CM">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div><!-- end 'panel-body' div -->
                    </div><!--end 'panel-collapse'\'collapse' div + '#collapse_CM' id -->
                </div><!-- end 'panel'\'our_panel_01' div -->
                <!--==================================================================-->
                <div class="panel our_panel_01">

                    <a data-toggle="collapse" data-parent="#accordion_03"
                       href="#collapse_JT">
                        <div class="panel-heading our_panel_heading">
                            <div class="panel-title our_panel_title">
                                <p class="our_panel_p">
                                    Joseph Tavares
                                    <span class="glyphicon glyphicon-resize-vertical"
                                          style="float: right;">
                                    </span>
                                </p>
                            </div><!-- end 'panel-title'\'our_panel_title' divs -->
                        </div><!-- end 'panel-heading'\'our_panel_heading' divs -->
                    </a><!-- end '#accordian_03' id + '#collapse_JT' href -->

                    <div id="collapse_JT" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div><!-- end 'panel-body' div -->
                    </div><!--end 'panel-collapse'\'collapse' div + '#collapse_JT' id -->
                </div><!-- end 'panel'\'our_panel_01' div -->
            </div><!-- end 'panel-group' div + '#accordian_03' id -->
            <!--======================================================================-->
            <p>
                It's one of us you'll get if you ask for tech support, and for now, even
                when you ask any other question!
            </p>
            <p>
                You can also email us to let us know what you think of Petopia -- what do
                you like?  what could be better? are there any new features you'd like to
                see us figure out to make things more fun?
            </p>
        </div><!-- END ROW FIVE *AND* 'panel-group' + 'about_team' div -->
        <!--==========================================================================-->
    </div><!-- end 'about_content' div -->
    <!--==============================================================================-->
