@model Petopia.Models.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Your Pet Care search results";
}

<div class="container-fluid">

    <div class="row our_row_one">

        <!--------------------------------- COLUMN ONE --------------------------------->

        <div class="col-sm-1 col-md-1 our_col_one">
            <!-- spacer column -->
        </div>

        <!----------------------------------- COLUMN TWO \ MAIN ------------------------>

        <div class="col-sm-10 col-md-10 our_col_two">

                <h2> @ViewBag.Title! </h2>

                @if (Model != null)
                {
                    foreach (var item in Model.PetCarerSearchList)
                    {
                        <div style="border:1px solid orange; border-radius: 11px;
                                    margin: 11px; padding: 11px;  float: left;
                                    width: 27%; min-height: 180px;">

                            @Html.DisplayNameFor(model => model.CP_ID)&nbsp;
                            @Html.DisplayFor(modelItem => item.CP_ID)
                            <br />
                            @Html.DisplayNameFor(model => model.CP_Name)&nbsp;
                            @Html.DisplayFor(modelItem => item.CP_Name)
                            <br />
                            @Html.DisplayNameFor(model => model.PU_ZipCode)&nbsp;
                            @Html.DisplayFor(modelItem => item.CP_Zipcode)
                            <br />
                            @if (Model.CP_Profile_Pic != null)
                            {
                                <div class="profile_pic_box_box">
                                    <div class="profile_pic_box">
                                        <img src=@Url.Action("Show", "Image", new { id = Model.CP_PU_ID }) 
                                             class="profile_img" />
                                    </div>
                                </div>
                            }
                            else
                            { 
                                <div class="profile_pic_box_box">
                                    <div class="profile_pic_box">
                                        <img src="https://stormy9.github.io/nerdvana/cute_smiley.png" 
                                             class="profile_img" />
                                    </div>
                                </div>
                            }
                            <br />

                            @if (item.IsDogProvider is true)
                            {
                                <h5> dogs! </h5>
                            }

                            @if (item.IsCatProvider is true)
                            {
                                <h5> cats! </h5>
                            }

                            @if (item.IsBirdProvider is true)
                            {
                                <h5> birds! </h5>
                            }

                            @if (item.IsFishProvider is true)
                            {
                                <h5> fish! </h5>
                            }

                            @if (item.IsRabbitProvider is true)
                            {
                                <h5> bunnies! </h5>
                            }

                            @if (item.IsRodentProvider is true)
                            {
                                <h5> rodents! </h5>
                                <h6> hamsters, gerbils, guinea pigs, more! </h6>
                            }

                            @if (item.IsReptileProvider is true)
                            {
                                <h5> reptiles! </h5>
                                <h6> snakes, lizards, more! </h6>
                            }

                            @if (item.IsHorseProvider is true)
                            {
                                <h5> horses! </h5>
                            }

                            @if (item.IsLivestockProvider is true)
                            {
                                <h5> livestock! </h5>
                                <h6> goats, chickens, pigs, sheep, more! </h6>
                            }

                            @if (item.IsOtherProvider is true)
                            {
                                <h5> other! </h5>
                            }
                        </div>
                    }

                }
                else
                {
                    <h3>
                        there aren't any pet carers registered in your area yet!
                    </h3>
                }

        </div><!-- end middle column (10-wide) -->

        <!------------------------------------- COLUMN THREE --------------------------->

        <div class="col-sm-1 col-md-1 our_col_three">
            <!-- spacer column -->
        </div>
        <!------------------------------------------------------------------------------>
       
    </div><!-- end row one-->
    <!---------------------------------------------------------------------------------->
    <div class="row our_row_two">

        <div class="col-sm-1 col-md-1 our_col_one">

        </div>

        <div class="col-sm-10 col-md-10 our_col_two">

            <div style="margin-left: 45px;">

            <h3> search again?</h3>

            @using (Html.BeginForm("PetCarerSearchResult", "Home", FormMethod.Post))
            {
                <!-- 'action' is where you go when it clicks, but we don't need it now -->
                <form class="splash_search" action="">
                    <div class="form-group splash_form">
                        <!-- TODO: figure out why this won't widen w/CSS -->
                        @Html.TextBox("searchZip", null,
                                    new { @class = "form-control splash_search_input",
                                          placeholder = "enter your zip code....." })
                    </div>

                    <button type="submit" class="btn btn-default our_buttons">
                        Fetch!
                    </button>
                </form>
            }
            </div><!-- end search form/box div -->

        </div>

        <div class="col-sm-1 col-md-1 our_col_three">

        </div>
    </div>
    <!---------------------------------------------------------------------------------->
</div><!-- end container-fluid \ outer container -->
