
@{
    ViewBag.Title = "How to use Petopia";
}

    <div class="container-fluid">

        <!-- ================================== ROW ONE ==============================-->
        <div class="row">
            <div class="col-sm-10">

                <h2> @ViewBag.Title! </h2>

            </div><!-- end col one -->
            <!-------------------------------------------------------------------------->
            <div class="col-sm-2">

                <!-- in case we wanna put something over here -->

            </div><!-- end col two -->
            <!-------------------------------------------------------------------------->
        </div><!-- END ROW ONE -->
        <!-- ================================== ROW TWO ==============================-->
        <div class="row">
            <div class="col-sm-12 col-md-12">

                <!--================================ TABS! ===========================-->
                <!---->
                <!-- the nav part -->
                <ul class="nav nav-tabs" style="border: none;">
                    <li class="active">
                        <!-- not sure why classes won't apply styling on these? -->
                        <a data-toggle="tab" href="#home" class="our_tabs"
                           style="background-color: #392613; color: #f2e6d9;">
                            welcome!
                        </a>
                    </li>
                    <!------------------------------------------------------------------>
                    <li>
                        <a data-toggle="tab" href="#menu1" class="our_tabs"
                           style="background-color: #604020; color: #f2e6d9;">
                            pet owner setup
                        </a>
                    </li>
                    <!------------------------------------------------------------------>
                    <li>
                        <a data-toggle="tab" href="#menu2"
                           style="background-color: #604020; color: #f2e6d9;">
                            pet setup
                        </a>
                    </li>
                    <!------------------------------------------------------------------>
                    <li>
                        <a data-toggle="tab" href="#menu3"
                           style="background-color: #604020; color: #f2e6d9;">
                            care provider setup
                        </a>
                    </li>
                    <!------------------------------------------------------------------>
                    <li>
                        <a data-toggle="tab" href="#menu4"
                           style="background-color: #604020; color: #f2e6d9;">
                            making an appointment
                        </a>
                    </li>
                    <!------------------------------------------------------------------>
                    <li>
                        <a data-toggle="tab" href="#menu5"
                           style="background-color: #604020; color: #f2e6d9;">
                            completing an appointment
                        </a>
                    </li>
                    <!------------------------------------------------------------------>
                    <li>
                        <a data-toggle="tab" href="#menu6"
                           style="background-color: #604020; color: #f2e6d9;">
                            pet owner/carer communication
                        </a>
                    </li>
                    <!------------------------------------------------------------------>
                    <li>
                        <a data-toggle="tab" href="#menu7"
                           style="background-color: #604020; color: #f2e6d9;">
                            your privacy
                        </a>
                    </li>
                    <!------------------------------------------------------------------>
                    <li>
                        <a data-toggle="tab" href="#menu8"
                           style="background-color: #604020; color: #f2e6d9;">
                            user disputes
                        </a>
                    </li>
                    <!------------------------------------------------------------------>
                    <li>
                        <a data-toggle="tab" href="#menu9"
                           style="background-color: #604020; color: #f2e6d9;">
                            Petopia content
                        </a>
                    </li>
                    <!------------------------------------------------------------------>
                    <li>
                        <a data-toggle="tab" href="#menu10"
                           style="background-color: #604020; color: #f2e6d9;">
                            our social side
                        </a>
                    </li>
                    <!------------------------------------------------------------------>
                </ul>
                <!--==================================================================-->
                <!--==================================================================-->
                <!---->
                <!---->
                <!------------------------- THE TAB CONTENT PART! ---------------------->
                <!---->
                <div class="tab-content">
                    <!------------------------------ 1st TAB => Welcome! --------------->
                    <div id="home" class="tab-pane fade in active our_tab_panels">

                        <h3 style="margin-top:0px;"> welcome! </h3>

                        <p>
                            Welcome to Petopia!  Page through the tabs to learn your
                            way around.....
                        </p>
                        <p>
                            We hope this will answer any questions you might think of!
                        </p>
                        <p></p>

                        <div class="any_questions">
                            @Html.ActionLink("Any Questions?", "Contact", "Home", "https",
                                null, "petopia_service_question-comment", null, null)
                        </div>

                    </div><!-- END DIV WHERE ID==HOME --><!-- aka WELCOME! -->
                    <!---->
                    <!---->
                    <!------------------------- 2nd TAB => Pet Owner Setup ------------->
                    <div id="menu1" class="tab-pane fade our_tab_panels">
                        <div id="home" class="tab-pane fade in active">

                            <h3 style="margin-top:0px;"> 
                                How Petopia works for Pet Owners </h3>

                            <ul>
                                <li>
                                    <b>Register:</b> <br />
                                    Register for an account with us, and designate yourself
                                    as a "Pet Owner".
                                    <br /><br /><br />
                                </li>
                                <li>
                                    <b>Your Profile -- and your Pet(s):</b> <br />
                                    Then you'll get to fill out profile details for yourself
                                    and your pet(s).
                                    <br /><br />
                                    Don't have time right now?  Come back and fill in your
                                    details later when you can have some fun with it.
                                    <br /><br />
                                    Your pet profile(s) will be summarized in "card(s)" on
                                    your profile -- you can click a card to go to that pet's
                                    full profile, and/or access their care record with us.
                                    <br /><br />
                                    Be sure to put in everything that your Pet Care Provider
                                    would need or want to know so they can take the best
                                    care of your pet!
                                    <br /><br />
                                    You can come back and edit or update your own or your pet
                                    details any time you like!
                                    <br /><br /><br />
                                </li>
                                <li>
                                    <b>Your Account:</b> <br />
                                    The account information you provide does not and will
                                    not appear on your profile, so don't worry!
                                    <br /><br />
                                    When you contract with a Pet Care Provider to care for
                                    your pet, we will provide them with the contact and
                                    access information you supplied so that they can do
                                    what they need to do to care for your pet.
                                    <br /><br /><br />
                                </li>
                                <li>
                                    <b>Badges:</b> <br />
                                    When you fill out your profile information, you'll be
                                    assigned a little badge for each kind of pet you have,
                                    that will be displayed on your profile page.
                                    <br /><br />
                                    This way other users will know at a glance what kind of
                                    pets you have!
                                    <br /><br /><br />
                                </li>

                                <!--======================================================-->
                            </ul>

                            <div class="any_questions">
                                @Html.ActionLink("Any Questions?", "Contact", "Home", "https",
                                    null, "petopia_service_question-comment", null, null)
                            </div>

                        </div>
                    </div><!-- end div where id=menu1 -->
                    <!---->
                    <!---->
                    <!------------------------------- 3rd TAB => Pet Setup ------------->
                    <div id="menu2" class="tab-pane fade our_tab_panels">
                        <div id="home" class="tab-pane fade in active">

                            <h3 style="margin-top:0px;"> pet setup </h3>



                            <div class="any_questions">
                                @Html.ActionLink("Any Questions?", "Contact", "Home", "https",
                                    null, "petopia_service_question-comment", null, null)
                            </div>

                        </div>
                    </div><!-- end div where id=menu2 -->
                    <!---->
                    <!---->
                    <!------------------------- 4th TAB => Pet Owner Setup ------------->
                    <div id="menu3" class="tab-pane fade our_tab_panels">
                        <div id="home" class="tab-pane fade in active">

                            <h3 style="margin-top:0px;"> 
                                How Petopia works for Pet Care Providers </h3>

                            <ul>
                                <li>
                                    <b>Register:</b><br />
                                    Register for an account with us, and designate yourself
                                    as a "Pet Care Provider".
                                    <br /><br /><br />
                                </li>
                                <li>
                                    <b>Your Profile -- and your Pet(s):</b><br />
                                    Then you'll get to fill in the profile details for you
                                    and your Pet(s).
                                    <br /><br />
                                    Don't have time right now?  Don't worry -- come back
                                    later and do your details when you can have some fun
                                    with it.
                                    <br /><br />
                                    Your Pet profile(s) will be shown in summary form, on
                                    "card(s)" on your own profile -- click a card to go to
                                    that Pet's full profile!
                                    <br /><br />
                                    You can come back and edit or update your details any
                                    time you like -- add badges, pets, and any new experience
                                    &amp; qualifications you get.
                                    <br /><br /><br />
                                </li>
                                <li>
                                    <b>Your Account:</b><br />
                                    The account information you provivde does not and will
                                    not appear on your profile, so no worries!
                                    <br /><br />
                                    When you contract with a Pet Owner to care for their pet,
                                    we will provide them with the contact information you
                                    supplied so they know how to reach you and that you are
                                    a real person.
                                    <br /><br /><br />
                                </li>
                                <li>
                                    <b>Badges:</b> <br />
                                    When filling out your profile information, you'll get to
                                    incidate which pets you're experienced with and wish
                                    to provide care for.
                                    <br /><br />
                                    For each pet you pick, a little badge will appear on
                                    your profile so Pet Owners can see at a glance the pets
                                    you work with!
                                    <br /><br /><br />
                                </li>
                                <li>
                                    <b>Providing Pet Care:</b><br />
                                    Once you have your profile details filled out, you'll be
                                    taken to your profile page to review it.
                                    <br /><br />
                                    But, before you can "go live" and accept Pet Care
                                    assignments..... you'll have to (successfully!) complete
                                    and pass a background check.  This will show on your
                                    profile so that Pet Owners know you're "vetted" and
                                    trust-worthy to care for their special pets in their
                                    home!
                                    <br /><br />
                                    Once everything has cleared, you'll be good to go.
                                    Just indicate on your schedule\calendar, the days and
                                    times you're available, so Pet Owners can see it.  Then
                                    just wait to be matched up with Pets and their Owners!
                                    <br /><br />
                                    When a Pet Owner contacts you via private message from
                                    within Petopia, the two of you can get to know each other
                                    a little and settle any outstanding details -- and you'll
                                    get the instructions you'll need in order to complete
                                    your pet care assignment.
                                    <br /><br /><br />
                                </li>
                                <li>
                                    <b>Scheduling &amp; Calendars:</b> <br />
                                    When you initially set up your profile, mark on your
                                    schedule\calendar the days &amp; times you're
                                    available to provide Pet Care.
                                    <br /><br />
                                    You can update your availability at any time, and your
                                    changes will be reflected in real time.
                                    <br /><br />
                                    Your calendar will be visible on your profile for Pet
                                    Owners to see when you're open.  This will just add one
                                    more layer of "easy" for Pet Owners to know if you're
                                    the one for them!
                                    <br /><br />
                                    Pet Owners can click on a block of time to reserve that
                                    spot for you to care for their Pet.
                                    <br /><br /><br />
                                </li>
                                <li>
                                    <b>Check-Ins &amp; End-of-Visit Notes:</b> <br />
                                    Let your Pet Owner know what's up with their Pet!
                                    <br /><br />
                                    Check-In when you arrive and leave, and any other points
                                    as arranged between you and your Pet Owner -- when the
                                    Pet got it's meds, dinner, walk or play-time, let in/out,
                                    picked up or dropped off -- whatever care you're doing --
                                    and Petopia will send the Pet Owner Check-In alerts in
                                    real time!
                                    <br /><br />
                                    At the end of each Pet Care visit, be sure to fill in
                                    any notes about the visit -- how things went and anything
                                    the Pet Owner may need or want to know about their
                                    Pet(s) to know they were happy &amp; well-cared-for.
                                    <br /><br />
                                    Your Check-Ins &amp; End-of-Visit Notes will become part
                                    of a Pet's "Permanent Care Record" with Petopia that the
                                    Pet Owner and you or other Pet Care Providers can review
                                    at any time.
                                    <br /><br />
                                    This way -- no matter who takes care of a given Pet --
                                    they'll always have access to helpful notes so they can
                                    take the best care of the Pet that they can.
                                    <br /><br />
                                    Remember that following good Check-In practices will
                                    help to improve your ratings, so that you are more
                                    likely to get more Pet Care work!
                                    <br /><br /><br />
                                </li>
                                
                                <li>
                                    <b>Ratings:</b><br />
                                    Just as Pet Owners can rate you and your service, you
                                    can also rate Pet Owners.
                                    <br /><br />
                                    You're highly encouraged to rate your Pet Owners each
                                    time you provide care for their Pet(s) -- add to their
                                    overall rating that shows on their profile!
                                    <br /><br />
                                    Remember that these ratings help other Pet Care
                                    Providers like you know that a Pet Owner is good to work
                                    with.
                                    <br /><br />
                                    Be sure to mention if a Pet Owner went out of their way
                                    to help you give good care for their Pet(s)!
                                    <br /><br />
                                    Ensure good ratings for yourself by always being on-time,
                                    providing the care agreed to with TLC as if it's your own
                                    pet, and leaving good Check-Ins and after-visit notes.
                                    <br /><br /><br />
                                </li>
                                <li>
                                    <b>Getting Paid for your Pet Care:</b> <br />
                                    You can list your rates on your profile, so that Pet
                                    Owners know up-front how much to expect to pay.  They
                                    are free to tip for above-and-beyond service!
                                    <br /><br />
                                    Once each Pet Care assignment is complete, the Pet Owner
                                    will be sent an invoice, and payments will be handled
                                    from inside the Petopia app, and go directly to you!
                                    <br /><br />
                                    Your payment records will be available from your
                                    Petopia account.
                                    <br /><br /><br />
                                </li>
                                
                                <!--======================================================-->
                            </ul>

                            <div class="any_questions">
                                @Html.ActionLink("Any Questions?", "Contact", "Home", "https",
                                    null, "petopia_service_question-comment", null, null)
                            </div>

                        </div>
                    </div><!-- end div where id=Menu3 -->
                    <!---->
                    <!---->
                    <!------------------------- 5th TAB => Making Appointments --------->
                    <div id="menu4" class="tab-pane fade our_tab_panels">
                        <div id="home" class="tab-pane fade in active">

                            <h3 style="margin-top:0px;"> making appointments </h3>

                            <ul>
                                <li>
                                    <b>Finding a Pet Carer &amp; Arranging for Care:</b>
                                    <br />
                                    Once you have your profile and account details filled
                                    out, you'll be taken to your profile page.
                                    <br /><br />
                                    On the right-hand side, you'll see a listing of all Pet
                                    Care Providers in your area who are experienced caring
                                    for your type of pet!
                                    <br /><br />
                                    Each one will have a card, with their name, photo, and
                                    badges for the kinds of pets they're experienced with.
                                    <br /><br />
                                    Click on their card to check out their full profile!
                                    There you can see more details about their experience
                                    and they types of care they provide.  Use our Private
                                    Messaging system to get to know each other!
                                    <br /><br /><br />
                                </li>
                                <li>
                                    <b>Scheduling &amp; Calendars:</b> <br />
                                    From a Pet Care Provider's profile, you can view their
                                    schedule information, to see if their availability
                                    matches with your needs.
                                    <br /><br />
                                    You can request to schedule them from the open times
                                    on their schedule/calendar.
                                    <br /><br /><br />
                                </li>
                                <li>
                                    <b>Check-Ins &amp; End-of-Visit Notes:</b> <br />
                                    Your Pet Care Provider can do "Check-Ins" so you know
                                    what is going on with your pet!
                                    <br /><br />
                                    You can get check-ins when they arrive, when they leave,
                                    and for other points as arranged between you -- that
                                    your pet got it's meds, dinner, walk or play-time,
                                    let in/out, picked up or dropped off -- whatever care
                                    you have arranged -- and Petopia can send you Check-In
                                    alerts in real time!
                                    <br /><br />
                                    Also, at the end of each Pet Care visit, your Pet Care
                                    Provider will fill in notes about the visit -- how things
                                    went and anything you may need or want to know about
                                    your Pet(s) to know they were happy &amp; well-cared-for.
                                    <br /><br />
                                    Check-Ins &amp; End-of-Visit Notes will become part of
                                    your Pet's "Permanent Care Record" with Petopia that
                                    you (or they) can review at any time.
                                    <br /><br />
                                    This way -- whether your pet care alternates between
                                    Providers or is always with the same one -- they will
                                    always have access to helpful notes so they can take
                                    the best care of your Pet.
                                    <br /><br /><br />
                                </li>
                            </ul>
                            <hr />
                            <ul>
                            </ul>

                            <div class="any_questions">
                                @Html.ActionLink("Any Questions?", "Contact", "Home", "https",
                                    null, "petopia_service_question-comment", null, null)
                            </div>

                        </div>
                    </div><!-- end div where id=Menu4 -->
                    <!---->
                    <!---->
                    <!------------------------- 6th TAB => Completing Appointments ----->
                    <div id="menu5" class="tab-pane fade our_tab_panels">
                        <div id="home" class="tab-pane fade in active">

                            <h3 style="margin-top:0px;"> completing appointments </h3>

                            <ul>
                                <li>
                                    <b>Ratings:</b> <br />
                                    You're highly encouraged to rate your Pet Care Provider
                                    each time they provide care for your Pet(s) -- add to
                                    their overall rating that shows on their profile!
                                    <br /><br />
                                    Remember that these ratings help other Pet Owners like
                                    you know they can trust this provider with their own
                                    beloved Pet -- and help good Pet Carers get more work!
                                    <br /><br />
                                    Be sure to mention if your Pet Care Provider went "the
                                    extra mile" for you and your Pet!
                                    <br /><br />
                                    Pet Care Providers can rate you, too..... ensure good
                                    ratings for yourself by being sure to inform your Pet
                                    Care Provider of everything they may need to know to
                                    care for your Pet, and paying on time.
                                    <br /><br /><br />
                                </li>
                                <li>
                                    <b>Paying for your Pet Care:</b> <br />
                                    Each Pet Care Provider lists their rates on their
                                    profile, so you know right up-front what things will
                                    cost.  You are free to add a tip for above-and-beyond
                                    service to say thanks!
                                    <br /><br />
                                    The actual payment process is handled from inside the
                                    Petopia app, and you will be emailed an invoice to to
                                    facilitate payment, and then a receipt for your records
                                    -- which are also available from your
                                    Petopia account.
                                    <br /><br /><br />
                                </li>
                            </ul>

                            <div class="any_questions">
                                @Html.ActionLink("Any Questions?", "Contact", "Home", "https",
                                    null, "petopia_service_question-comment", null, null)
                            </div>

                        </div>
                    </div><!-- end div where id=Menu5 -->
                    <!---->
                    <!---->
                    <!-------------------- 7th TAB => Owner/Provider Communication ----->
                    <div id="menu6" class="tab-pane fade our_tab_panels">
                        <div id="home" class="tab-pane fade in active">

                            <h3 style="margin-top:0px;">pet owner/carer communication</h3>
                            <h4> Communication between Pet Owners and Care Providers </h4>

                            <p>
                                We recommend keeping communications between Pet Owners and
                                Pet Care Providers, that is specifically about a Pet and it's
                                care within Petopia -- within our Private Messaging
                                and Check-In features. <br />
                                <br />
                                This way there will be a record all in one secure place for
                                quick &amp; easy reference for both parties, if need be.
                                <br /> <br />
                                And Pet Care Providers -- don't forget to leave good
                                end-of-visit notes after each Pet Care assignment!
                                <br /><br />
                                While Private Messages stay prviate, Check-Ins and end-of-
                                visit notes become part of a Pet's "Permanent Record",
                                accessible to their Owner and any Care Providers who take
                                care of them.
                                <br /><br />
                                These things will help subsequent care for a given Pet go
                                as smoothly as possible, whether by the same Pet Care
                                Provider or different ones!<br />
                            </p>


                            <ul>
                                <li>
                                    <b>Private Messaging:</b> <br />
                                    You can Private Message with any other user at any
                                    time.....<br />
                                    but we recommend that all communication between you and
                                    your Pet Owners, regarding the care of their Pet(s), be
                                    done via Petopia's in-app Private Messaging system.
                                    <br /><br />
                                    This way you'll be able to quickly &amp; easily find any
                                    communications, if need be, about the care you do for
                                    Pets -- all in one secure place!
                                    <br /><br />
                                    The difference between Private Messaging and Check-Ins,
                                    is that Private Messaging is just that -- private.....
                                    while Check-Ins will become part of a Pet's "Permanent
                                    Record" along with any end-of-visit care notes,
                                    accessible to you and any other Pet Care Providers plus
                                    the Pet's Owner.
                                    <br /><br /><br />
                                </li>
                                <li>
                                    <b>Private Messaging:</b> <br />
                                    You can Private Message with any other user at any
                                    time..... <br />
                                    but we recommend that all communication between you and
                                    your Pet's Care Provider(s), regarding the care of your
                                    Pet(s), be done via Petopia's in-app Private Messaging
                                    system.
                                    <br /><br />
                                    This way you'll be able to quickly &amp; easily find any
                                    communications, if need be, about the care of your Pet(s)
                                    -- all in one secure place!
                                    <br /><br />
                                    The difference between Private Messaging and Check-Ins,
                                    is that Private Messaging is just that -- private.....
                                    while Check-Ins will become part of a Pet's "Permanent
                                    Record" along with end-of-visit care notes.
                                    <br /><br /><br />
                                </li>
                            </ul>


                            <div class="any_questions">
                                @Html.ActionLink("Any Questions?", "Contact", "Home", "https",
                                    null, "petopia_service_question-comment", null, null)
                            </div>



                        </div>
                    </div><!-- end div where id=Menu6 -->
                    <!---->
                    <!---->
                    <!---------------------------- 8th TAB => User Info\Privacy -------->
                    <div id="menu7" class="tab-pane fade our_tab_panels">
                        <div id="home" class="tab-pane fade in active">

                            <h3 style="margin-top:0px;"> 
                                What we do with your info + why we need it </h3>

                            <h4> Your profile information </h4>
                            <p>
                                The profile information you fill out at Petopia is what
                                will actually be shown on your public profile with us.
                            </p>
                            <p>
                                So have as much fun as you like -- make it silly, make
                                it thoughtful or inspirational, make it whatever you
                                like..... but please keep it nice!
                            </p>
                            <p>
                                In other words -- imagine your Grandma might be reading
                                it.   [=
                            </p>

                            <hr />

                            <h4> Your account information </h4>
                            <p>
                                The account information you fill out at Petopia will
                                <b>not</b> appear on your profile -- it is confidential
                                with Petopia.
                            </p>
                            <p>
                                <b>For Pet Owners:</b><br />
                                When you select a Pet Care Provider and arrange for
                                Pet Care with them, only then will Petopia share your
                                contact and access information with that Provider, so
                                that they can fulfill your Pet Care needs in the best
                                way for your Pet(s)!
                            </p>
                            <br /><br />
                            <p>
                                <b>For Pet Care Providers:</b><br />
                                When you agree to providve Pet Care services for a Pet
                                Owner, we will share your contact information with them
                                so they can contact you and know you're a real person!
                            </p>

                            <div class="any_questions">
                                @Html.ActionLink("Any Questions?", "Contact", "Home", "https",
                                    null, "petopia_service_question-comment", null, null)
                            </div>

                        </div>
                    </div><!-- end div where id=Menu7 -->
                    <!---->
                    <!---->
                    <!------------------------------ 9th TAB => User Disputes ---------->
                    <div id="menu8" class="tab-pane fade our_tab_panels">
                        <div id="home" class="tab-pane fade in active">

                            <h3 style="margin-top:0px;"> user disputes </h3>

                            <p>
                                While people who love pets are often the greatest of people,
                                sometimes things can still go sideways somehow.
                                <br /><br />
                            </p>
                            <!-------------------------------------------------------------->
                            <h4>
                                If you are a Pet Owner.....
                            </h4>
                            <p>
                                If your Pet Care Provider is not caring for your pet as
                                agreed, or if anything else goes wrong, please contact
                                Petopia as soon as possible and we will investigate whatever
                                is going on, and help you arrive at a satisfactory conclusion.
                                <br /><br /><br />
                            </p>
                            <!-------------------------------------------------------------->
                            <h4>
                                If you are a Pet Care Provider.....
                            </h4>
                            <p>
                                If the Owner of a Pet you are caring for has not paid you
                                within two weeks of the time of service, or has otherwise
                                not held up their end of the deal, please contact Petopia
                                as soon as possible so that we can investigate the situation
                                and assist you in obtaining a satisfactory outcome.
                                <br /><br /><br />
                            </p>
                            <!-------------------------------------------------------------->

                            <div class="any_questions">
                                @Html.ActionLink("Any Questions?", "Contact", "Home", "https",
                                    null, "dispute_resolution", null, null)
                            </div>

                        </div>
                    </div><!-- end div where id=Menu8 -->
                    <!---->
                    <!---->
                    <!------------------------ 10th TAB => Appropriate Content --------->
                    <div id="menu9" class="tab-pane fade our_tab_panels">
                        <div id="home" class="tab-pane fade in active">

                            <h3 style="margin-top:0px;"> 
                                what is appropriate on Petopia </h3>
                            <h4> Most-important thing: We love Pets! </h4>

                            <ul>
                                <li>
                                    While this should be <b>entirely</b> obvious.....
                                    we will not tolerate any content that even remotely
                                    refers to animal mistreatment in any way --
                                    be it words or images... on user profiles, as
                                    commentary on one of our social forums, or anywhere
                                    else.
                                    <br /><br /><br />
                                </li>
                                <li>
                                    Petopia is not the place to sell pets -- there are
                                    plenty of avenues for that already, and that is not
                                    our purpose.
                                    <br /><br />
                                    Eventually we would like to host a page for Pet
                                    Rescue organizations, but will not get involved in
                                    the selling of pets through our site.
                                    <br /><br />
                                    We are not saying there is anything wrong with
                                    purchasing a pet from a reputable &amp; conscientious
                                    breeder -- however it would be impossible for us to
                                    vet (no pun intended) everyone -- and it is outside
                                    of the scope we want to be involved in.
                                    <br /><br />
                                    Likewise, no promotion of animals "at stud" or such
                                    things, either... we are not a dating site, for pets
                                    or people!   [=
                                    <br /><br />
                                    In fact, just don't sell *anything*, please!
                                    <br /><br /><br />
                                </li>
                                <li>
                                    ***NO*** flaming of fellow Petopa Users (or their
                                    pets!) will be tolerated on any of our social forums.
                                    <br /><br /><br />
                                </li>
                            </ul>
                            <!---------------------------------------------------------->
                            <p>
                                If any user spots any such content, please contact us
                                immediately and we will fix the situation!  <br /><br />
                            </p>

                            <div class="any_questions">
                                @Html.ActionLink("Any Questions?", "Contact", "Home", "https",
                                    null, "inappropriate", null, null)
                            </div>

                        </div>
                    </div><!-- end div where id=Menu9 -->
                    <!---->
                    <!---->
                    <!---------------------------------- 11th TAB => Our Social Side --->
                    <div id="menu10" class="tab-pane fade our_tab_panels">
                        <div id="home" class="tab-pane fade in active">

                            <h3 style="margin-top:0px;"> have fun on Petopia! </h3>

                            <ul>
                                <li>
                                    <b>Social\Forum:</b> <br />
                                    While you're here, have some fun and participate in
                                    Petopia's social side!  Our forum and private messaging,
                                    plus notices of pet-related events meet-ups, can help you
                                    find a friend for you and your furry best friends!
                                    <br /><br /><br />
                                </li>
                                <li>
                                    <b>Social\Forum:</b> <br />
                                    While you're here, have some fun and participate in
                                    Petopia's social side!  Our forum and private messaging,
                                    plus notices of pet-related events and meet-ups, can
                                    help you find a friend for yourself and your furry best
                                    friend!
                                    <br /><br />
                                    You can add other users as friends, and easily contact
                                    them from your Friends List on your profile!
                                    <br /><br /><br />
                                </li>
                            </ul>

                            <div class="any_questions">
                                @Html.ActionLink("Any Questions?", "Contact", "Home", "https",
                                    null, "petopia_service_question-comment", null, null)
                            </div>

                        </div>
                    </div><!-- end div where id=Menu10 -->
                    <!---->
                    <!---->
                    <!------------------------------------------------------------------>
                    <!---->
                    <!---->
                </div><!-- END OF TAB CONTENT THING -->
                <!--==================================================================-->
                <!---->
                <!---->
            </div><!-- end the single colum in row two -->
            <!---->
            <!---->
        </div><!-- END ROW TWO -->
        <!---->
        <!---->
        <!--================================== ROW THREE =============================-->
        <div class="row" style="margin-bottom: 35px;">
            <div class="col-md-12">

            </div>
        </div>
        <!--==========================================================================-->
        <!---->
        <!---->
    </div><!-- END CONTAINER-FLUID -->

