@using Petopia.Models.ViewModels
@model LoginViewModel

@{
    ViewBag.Title = "Login to Petopia!";
}
<!--==================================================================================-->
<!-- changed element to 'body' to ensure (?) it covers entire vertical page on large
     screens! pretty sure that's best to ensure it covers entire viewport.....
     or would changing height to 100% in a div do it, too?  idk for sure..... -->
<body class="container-fluid login_hero">
    <h2>@ViewBag.Title</h2>
    <h4>Welcome, please sign in to use all the features on Petopia!</h4>

    <!--==============================================================================-->
    <div class="row">
        <div class="col-md-5">

            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account",
                            new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
                            new { @class = "form", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })

                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })

                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        <div class="col-md-5">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-5">
                            <input type="submit" value="Login to Petopia!" 
                                   class="btn our_buttons" />
                        </div>
                    </div><br /><br /><br />


                        <p style="margin-bottom: 3px;">
                            @Html.ActionLink("Register as a new user", "Register")
                        </p>

                        <p style="margin-top: 3px;">
                            @Html.ActionLink("Forgot Password?", "ForgotPassword")
                        </p>
                }
            </section>
        </div><!-- end column w/login form div -->


        <div class="col-md-7" style="text-align: right;">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>


    </div><!-- end row div -->
</body><!-- end login_hero div -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}