@model Petopia.Models.RegisterViewModel
@{
    ViewBag.Title = "Register with Petopia!";
}
    <!-- changed element to 'body' to ensure (?) it covers entire vertical page on large 
         screens! pretty sure that's best to ensure it covers entire viewport..... 
         or would changing height to 100% in a div do it, too?  idk for sure..... -->
    <body class="container-fluid register_hero">

        <h2>@ViewBag.Title</h2>

        <!--==========================================================================-->
        @using reCAPTCHA.MVC
        @using (Html.BeginForm("Register", "Account", FormMethod.Post,
                                new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })


            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })

                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.Password,
                                    new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password,
                                                new { @class = "form-control" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword,
                                    new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword,
                                    new { @class = "form-control" })
                </div>
            </div>

            @Html.Recaptcha()
            @Html.ValidationMessage("ReCaptcha")

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default our_buttons" value="Register!" />
                </div>
            </div>

            <div class="container-fluid password_rules">
                <strong>passwords must:</strong>
                <br />* be at least 6 characters long
                <br />* have at least one upper-case letter (A-Z)
                <br />* have at least one digit (0-9)
                <br />* have at least one non-letter/digit character
            </div>
            <!--======================================================================-->
        }
    </body><!-- end register_hero div -->

<!--==================================================================================-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<!--==================================================================================-->