@model Petopia.Models.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register with Petopia!";
}
    <!-- changed element to 'body' to ensure (?) it covers entire vertical page on large 
         screens! pretty sure that's best to ensure it covers entire viewport..... 
         or would changing height to 100% in a div do it, too?  idk for sure..... -->
    <body class="container-fluid register_hero">

        <h2>@ViewBag.Title</h2>

        <!--==========================================================================-->
        @using reCAPTCHA.MVC
        @using (Html.BeginForm("Register", "Account", FormMethod.Post,
                                new { @class = "form", role = "form" }))
        {
            <!--========================== ROW ONE ===================================-->
            <div class="row">
                <div class="form col-sm-5 col-md-5">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })

                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control",
                                                    @placeholder="your email address" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })

                        @Html.PasswordFor(m => m.Password, new { @class = "form-control",
                                                    @placeholder = "enter a password" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })

                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", 
                                                        @placeholder = "confirm password" })
                    </div>

                </div><!-- end five-column part -->
            </div><!-- end row one -->


            <!--============================ ROW TWO =================================-->
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group our_recaptcha">
                        @Html.ValidationMessage("ReCaptcha")
                        @Html.Recaptcha()
                    </div>
                </div><!-- end col one -->

                <div class="col-lg-2">
                    <div class="form-group">
                        <input type="submit" class="btn our_buttons" value="Register!" />
                    </div>
                </div><!-- end col two -->
            </div><!-- end row two -->


            <!--=============================== ROW FOUR =============================-->
            <div class="row">
                <div class="col-sm-5 col-md-5">
                    <div class="password_rules">
                        <strong>passwords must:</strong>
                        <br />* be at least 6 characters long
                        <br />* have at least one upper-case letter (A-Z)
                        <br />* have at least one digit (0-9)
                        <br />* have at least one non-letter/digit character
                    </div>
                </div>
            </div>
            <!--======================================================================-->
        }
    </body><!-- end register_hero div -->

<!--==================================================================================-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<!--==================================================================================-->